{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "TicketTimeEntry",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "timeEntry"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/tickets/{ticketId}/timeEntry/{timeEntryId}" : {
      "get" : {
        "tags" : [ "TicketTimeEntry" ],
        "summary" : "Get Ticket Time Entry",
        "description" : "This API fetches a time entry recorded for a ticket.",
        "operationId" : "getTicketTimeEntry",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to the time entry. Value supported is @owner@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Secondary information related to the time entry. Value supported is @owner@.",
            "enum" : [ "owner" ]
          }
        }, {
          "name" : "timeEntryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "description" : "ID of the ticket",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the ticket",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ticketTimeEntryResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "additionalCost", "agentCostPerHour", "cf", "createdBy", "createdTime", "customFields", "departmentId", "description", "executedTime", "fixedCost", "hoursSpent", "id", "invoiceId", "isBillable", "isTrashed", "layoutDetails", "layoutId", "minutesSpent", "mode", "ownerId", "parent", "requestChargeType", "requestId", "secondsSpent", "taskId", "totalCost" ],
                  "properties" : {
                    "parent" : {
                      "maxProperties" : 4,
                      "minProperties" : 4,
                      "required" : [ "id", "subject", "ticketNumber", "type" ],
                      "properties" : {
                        "ticketNumber" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "subject" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "executedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "customFields" : {
                      "additionalProperties" : false
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "agentCostPerHour" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "ownerId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "mode" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "MANUAL", "AUTO" ]
                    },
                    "isTrashed" : { },
                    "requestId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "requestChargeType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance" ]
                    },
                    "layoutDetails" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "id", "layoutName" ],
                      "properties" : {
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "layoutName" : {
                          "maxLength" : 120,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "secondsSpent" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "cf" : {
                      "additionalProperties" : false
                    },
                    "fixedCost" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "minutesSpent" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "hoursSpent" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "layoutId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isBillable" : {
                      "description" : "Key that returns if the time tracked is billable or not"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "invoiceId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "additionalCost" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "totalCost" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "taskId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "owner" : {
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "secondsSpent" : "21",
                      "parent" : {
                        "ticketNumber" : "1004",
                        "subject" : "Ticket subject",
                        "id" : "4000000031007",
                        "type" : "TICKETS"
                      },
                      "cf" : {
                        "cf_timeentryname" : "time2"
                      },
                      "executedTime" : 1466627400000,
                      "fixedCost" : null,
                      "departmentId" : "4000000008694",
                      "minutesSpent" : "23",
                      "creatorId" : "4000000008692",
                      "agentCostPerHour" : "3.0",
                      "description" : "Time Entry description",
                      "hoursSpent" : "3",
                      "ownerId" : "4000000008692",
                      "isBillable" : true,
                      "mode" : "MANUAL",
                      "isTrashed" : "false",
                      "billingType" : "FIXED_COST_FOR_TICKETS",
                      "createdTime" : 1466488320828,
                      "invoiceId" : "4000000008688123",
                      "id" : "4000000045001",
                      "requestChargeType" : "Customer Service",
                      "additionalCost" : "10.0",
                      "totalCost" : "20.17"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "42ecd902633031fe9547c07b1b7f8e79",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.getTimeEntry"
        }
      },
      "delete" : {
        "tags" : [ "TicketTimeEntry" ],
        "summary" : "Delete Ticket Time Entry",
        "description" : "This API deletes a time entry recorded for a ticket",
        "operationId" : "deleteTicketTimeEntry",
        "parameters" : [ {
          "name" : "timeEntryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "description" : "ID of the ticket",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the ticket",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "724067d4ba477593902427cd076ec0c6",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.deleteTimeEntry"
        }
      }
    },
    "/api/v1/tickets/{caseId}/timeEntry" : {
      "get" : {
        "tags" : [ "TicketTimeEntry" ],
        "summary" : "List Ticket Time Entries",
        "description" : "This API lists the time entries associated with a ticket.",
        "operationId" : "getTicketTimeEntries",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to the time entry. Value supported is @owner@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Secondary information related to the time entry. Value supported is @owner@.",
            "enum" : [ "owner" ]
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "Module from which the time entries must be fetched. Values allowed are @tickets@ and @tasks@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Module from which the time entries must be fetched. Values allowed are @tickets@ and @tasks@.",
            "enum" : [ "tickets", "tasks" ]
          }
        }, {
          "name" : "createdTimeRange",
          "in" : "query",
          "description" : "Key that filters time entries created in a particular period of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters time entries created in a particular period of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z."
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of time entries to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of time entries to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "isInvoiced",
          "in" : "query",
          "description" : "Filter to get invoiced or not invoiced time entries",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Filter to get invoiced or not invoiced time entries",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "billStatus",
          "in" : "query",
          "description" : "Key that filters time entries, based on their billing status: @nonBillable@ , @billable@ or @billed@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that filters time entries, based on their billing status: @nonBillable@ , @billable@ or @billed@",
            "enum" : [ "nonBillable", "billable", "billed" ]
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "Key that sorts the time entries in ascending or descending order, based on the @executedTime@ attribute. Values allowed are @ASC@ (default) and @DESC@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that sorts the time entries in ascending or descending order, based on the @executedTime@ attribute. Values allowed are @ASC@ (default) and @DESC@.",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the time entries must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the time entries must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "modifiedTimeRange",
          "in" : "query",
          "description" : "Key that filters time entries whose details were modified in a particular period of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters time entries whose details were modified in a particular period of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z."
          }
        }, {
          "name" : "isBillable",
          "in" : "query",
          "description" : "Key that returns if the time tracked is billable or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that returns if the time tracked is billable or not",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "caseId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "listTicketTimeEntries template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "additionalCost", "agentCostPerHour", "cf", "createdBy", "createdTime", "customFields", "departmentId", "description", "executedTime", "fixedCost", "hoursSpent", "id", "invoiceId", "isBillable", "isTrashed", "layoutDetails", "layoutId", "minutesSpent", "mode", "ownerId", "parent", "requestChargeType", "requestId", "secondsSpent", "taskId", "totalCost" ],
                          "properties" : {
                            "parent" : {
                              "maxProperties" : 4,
                              "minProperties" : 4,
                              "required" : [ "id", "subject", "ticketNumber", "type" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "subject" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "executedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "customFields" : {
                              "additionalProperties" : false
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "agentCostPerHour" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "ownerId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "mode" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "MANUAL", "AUTO" ]
                            },
                            "isTrashed" : { },
                            "requestId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "requestChargeType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance" ]
                            },
                            "layoutDetails" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "layoutName" ],
                              "properties" : {
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "layoutName" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "secondsSpent" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "cf" : {
                              "additionalProperties" : false
                            },
                            "fixedCost" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                            },
                            "minutesSpent" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "hoursSpent" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "layoutId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isBillable" : {
                              "description" : "Key that returns if the time tracked is billable or not"
                            },
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "invoiceId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "additionalCost" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                            },
                            "totalCost" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                            },
                            "taskId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "owner" : {
                              "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "billingType", "createdBy" ],
                          "properties" : {
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "billingType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_PROFILE", "SPECIFIC_COST_PER_AGENT" ]
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "owner" : {
                          "firstName" : "Eswer",
                          "lastName" : "KM",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&ID=4851669",
                          "name" : "Eswer KM",
                          "id" : "4000000008688129"
                        },
                        "secondsSpent" : "0",
                        "parent" : {
                          "ticketNumber" : "1004",
                          "subject" : "Ticket subject",
                          "id" : "4000000031007",
                          "type" : "TICKETS"
                        },
                        "cf" : { },
                        "executedTime" : null,
                        "fixedCost" : null,
                        "departmentId" : "4000000008694",
                        "minutesSpent" : "0",
                        "agentCostPerHour" : null,
                        "description" : null,
                        "hoursSpent" : "0",
                        "ownerId" : "15000000009148",
                        "isBillable" : true,
                        "mode" : "MANUAL",
                        "isTrashed" : "false",
                        "createdBy" : "15000000009148",
                        "billingType" : "FIXED_COST_FOR_TICKETS",
                        "createdTime" : 1515609917000,
                        "invoiceId" : "4000000008688123",
                        "id" : "15000000031007",
                        "requestChargeType" : "Customer Service",
                        "additionalCost" : null,
                        "totalCost" : "0.0"
                      }, {
                        "owner" : {
                          "firstName" : "Eswer",
                          "lastName" : "KM",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&ID=4851669",
                          "name" : "Eswer KM",
                          "id" : "4000000008688129"
                        },
                        "secondsSpent" : "0",
                        "parent" : {
                          "ticketNumber" : "1004",
                          "subject" : "Ticket subject",
                          "id" : "4000000031007",
                          "type" : "TICKETS"
                        },
                        "cf" : { },
                        "executedTime" : 1513793360000,
                        "departmentId" : "4000000008694",
                        "fixedCost" : null,
                        "minutesSpent" : "0",
                        "agentCostPerHour" : null,
                        "description" : "Dummy#2",
                        "hoursSpent" : "1",
                        "ownerId" : "15000000009148",
                        "isBillable" : true,
                        "mode" : "MANUAL",
                        "isTrashed" : "false",
                        "createdBy" : "15000000009148",
                        "billingType" : "FIXED_COST_FOR_TICKETS",
                        "createdTime" : 1515597647000,
                        "invoiceId" : "4000000008688123",
                        "id" : "15000000029314",
                        "requestChargeType" : "Upgrade Request",
                        "additionalCost" : null,
                        "totalCost" : "0.0"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "9df91e0ab80c316ae40f29f4fa0ee789",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.getTimeEntries"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/timeEntry/{teId}" : {
      "put" : {
        "tags" : [ "TicketTimeEntry" ],
        "summary" : "Update Ticket Time Entry",
        "description" : "This API updates an existing ticket time entry",
        "operationId" : "updateTicketTimeEntry",
        "parameters" : [ {
          "name" : "teId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "description" : "ID of the ticket",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the ticket",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "secondsSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of seconds in the time entry.",
                    "format" : "int32"
                  },
                  "cf" : {
                    "additionalProperties" : { }
                  },
                  "executedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                    "description" : "Time when work related to the time entry was started."
                  },
                  "customFields" : {
                    "additionalProperties" : { }
                  },
                  "minutesSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of minutes in the time entry.",
                    "format" : "int32"
                  },
                  "agentCostPerHour" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Per hour cost of an agent."
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Description of the time entry"
                  },
                  "hoursSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of hours in the time entry.",
                    "format" : "int32"
                  },
                  "ownerId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the user associated with the time entry",
                    "format" : "int64"
                  },
                  "isBillable" : {
                    "description" : "Billing Preference"
                  },
                  "billingType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Billing type configured in the time tracking. Possible values are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ and @SPECIFIC_COST_PER_PROFILE@",
                    "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_PROFILE", "SPECIFIC_COST_PER_AGENT" ]
                  },
                  "requestChargeType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Type of request in the ticket. Values supported are Customer Service, Upgrade Request, Product Consultation, and Support and Maintenance.",
                    "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance" ]
                  },
                  "additionalCost" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Additional cost incurred"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "description" : "Time Entry description",
                    "requestChargeType" : "Customer Service"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "ticketTimeEntryResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "additionalCost", "agentCostPerHour", "cf", "createdBy", "createdTime", "customFields", "departmentId", "description", "executedTime", "fixedCost", "hoursSpent", "id", "invoiceId", "isBillable", "isTrashed", "layoutDetails", "layoutId", "minutesSpent", "mode", "ownerId", "parent", "requestChargeType", "requestId", "secondsSpent", "taskId", "totalCost" ],
                  "properties" : {
                    "parent" : {
                      "maxProperties" : 4,
                      "minProperties" : 4,
                      "required" : [ "id", "subject", "ticketNumber", "type" ],
                      "properties" : {
                        "ticketNumber" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "subject" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "executedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "customFields" : {
                      "additionalProperties" : false
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "agentCostPerHour" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "ownerId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "mode" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "MANUAL", "AUTO" ]
                    },
                    "isTrashed" : { },
                    "requestId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "requestChargeType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance" ]
                    },
                    "layoutDetails" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "id", "layoutName" ],
                      "properties" : {
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "layoutName" : {
                          "maxLength" : 120,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "secondsSpent" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "cf" : {
                      "additionalProperties" : false
                    },
                    "fixedCost" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "minutesSpent" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "hoursSpent" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "layoutId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isBillable" : {
                      "description" : "Key that returns if the time tracked is billable or not"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "invoiceId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "additionalCost" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "totalCost" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "taskId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "owner" : {
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "secondsSpent" : "21",
                      "parent" : {
                        "ticketNumber" : "1004",
                        "subject" : "Ticket subject",
                        "id" : "4000000031007",
                        "type" : "TICKETS"
                      },
                      "cf" : {
                        "cf_timeentryname" : "time2"
                      },
                      "executedTime" : 1466627400000,
                      "fixedCost" : null,
                      "departmentId" : "4000000008694",
                      "minutesSpent" : "23",
                      "creatorId" : "4000000008692",
                      "agentCostPerHour" : "3.0",
                      "description" : "Time Entry description",
                      "hoursSpent" : "3",
                      "ownerId" : "4000000008692",
                      "isBillable" : true,
                      "mode" : "MANUAL",
                      "isTrashed" : "false",
                      "billingType" : "FIXED_COST_FOR_TICKETS",
                      "createdTime" : 1466488320828,
                      "invoiceId" : "4000000008688123",
                      "id" : "4000000045001",
                      "requestChargeType" : "Customer Service",
                      "additionalCost" : "10.0",
                      "totalCost" : "20.17"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "5665757cce72f769ba938074781d79de",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.updateTimeEntry"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/timeEntrySummation" : {
      "get" : {
        "tags" : [ "TicketTimeEntry" ],
        "summary" : "Get summation of Ticket Time Entries",
        "description" : "This API fetches the sum of time entries associated with a ticket.",
        "operationId" : "getSummationOfTimeEntryForTicket",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Module from which the time entries must be fetched. Values allowed are @tickets@ and @tasks@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Module from which the time entries must be fetched. Values allowed are @tickets@ and @tasks@.",
            "enum" : [ "tickets", "tasks" ]
          }
        }, {
          "name" : "billStatus",
          "in" : "query",
          "description" : "Key that filters time entries, based on their billing status: @nonBillable@ , @billable@ or @billed@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that filters time entries, based on their billing status: @nonBillable@ , @billable@ or @billed@",
            "enum" : [ "nonBillable", "billable", "billed" ]
          }
        }, {
          "name" : "isBillable",
          "in" : "query",
          "description" : "Key that returns if the time tracked is billable or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that returns if the time tracked is billable or not",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "description" : "ID of the ticket",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the ticket",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getSummationOfTimeEntryForTicketResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "totalCosts", "totalHours", "totalMins", "totalSeconds" ],
                  "properties" : {
                    "totalMins" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "totalHours" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "totalCosts" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "totalSeconds" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "totalMins" : 5,
                      "totalHours" : 12,
                      "totalCosts" : 1000,
                      "totalSeconds" : 24
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "6afa468a852c4ccb81318be23f4b18f6",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.getSummationOfTimeEntries"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/timeEntry" : {
      "post" : {
        "tags" : [ "TicketTimeEntry" ],
        "summary" : "Add Ticket Time Entry",
        "description" : "This API adds a time entry in your help desk",
        "operationId" : "createTicketTimeEntry",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "description" : "ID of the ticket",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the ticket",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "executedTime" ],
                "properties" : {
                  "secondsSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of seconds in the time entry.",
                    "format" : "int32"
                  },
                  "cf" : {
                    "additionalProperties" : { }
                  },
                  "executedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                    "description" : "Time when work related to the time entry was started."
                  },
                  "customFields" : {
                    "additionalProperties" : { }
                  },
                  "minutesSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of minutes in the time entry.",
                    "format" : "int32"
                  },
                  "agentCostPerHour" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Per hour cost of an agent."
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Description of the time entry"
                  },
                  "hoursSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of hours in the time entry.",
                    "format" : "int32"
                  },
                  "ownerId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the user associated with the time entry",
                    "format" : "int64"
                  },
                  "isBillable" : {
                    "description" : "Billing Preference"
                  },
                  "billingType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Billing type configured in the time tracking. Possible values are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ and @SPECIFIC_COST_PER_PROFILE@",
                    "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_PROFILE", "SPECIFIC_COST_PER_AGENT" ]
                  },
                  "requestChargeType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Type of request in the ticket. Values supported are Customer Service, Upgrade Request, Product Consultation, and Support and Maintenance.",
                    "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance" ]
                  },
                  "additionalCost" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Additional cost incurred"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "secondsSpent" : "21",
                    "cf" : {
                      "cf_timeentryname" : "time2"
                    },
                    "executedTime" : 1466627400000,
                    "minutesSpent" : "23",
                    "agentCostPerHour" : "3.0",
                    "description" : "Time Entry description",
                    "hoursSpent" : "3",
                    "invoiceId" : "4000000008688123",
                    "ownerId" : "4000000008692",
                    "requestChargeType" : "Customer Service",
                    "additionalCost" : "10.0",
                    "totalCost" : "20.17"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "ticketTimeEntryResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "additionalCost", "agentCostPerHour", "cf", "createdBy", "createdTime", "customFields", "departmentId", "description", "executedTime", "fixedCost", "hoursSpent", "id", "invoiceId", "isBillable", "isTrashed", "layoutDetails", "layoutId", "minutesSpent", "mode", "ownerId", "parent", "requestChargeType", "requestId", "secondsSpent", "taskId", "totalCost" ],
                  "properties" : {
                    "parent" : {
                      "maxProperties" : 4,
                      "minProperties" : 4,
                      "required" : [ "id", "subject", "ticketNumber", "type" ],
                      "properties" : {
                        "ticketNumber" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "subject" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "executedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "customFields" : {
                      "additionalProperties" : false
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "agentCostPerHour" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "ownerId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "mode" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "MANUAL", "AUTO" ]
                    },
                    "isTrashed" : { },
                    "requestId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "requestChargeType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance" ]
                    },
                    "layoutDetails" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "id", "layoutName" ],
                      "properties" : {
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "layoutName" : {
                          "maxLength" : 120,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "secondsSpent" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "cf" : {
                      "additionalProperties" : false
                    },
                    "fixedCost" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "minutesSpent" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "hoursSpent" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "layoutId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isBillable" : {
                      "description" : "Key that returns if the time tracked is billable or not"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "invoiceId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "additionalCost" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "totalCost" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "taskId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "owner" : {
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "secondsSpent" : "21",
                      "parent" : {
                        "ticketNumber" : "1004",
                        "subject" : "Ticket subject",
                        "id" : "4000000031007",
                        "type" : "TICKETS"
                      },
                      "cf" : {
                        "cf_timeentryname" : "time2"
                      },
                      "executedTime" : 1466627400000,
                      "fixedCost" : null,
                      "departmentId" : "4000000008694",
                      "minutesSpent" : "23",
                      "creatorId" : "4000000008692",
                      "agentCostPerHour" : "3.0",
                      "description" : "Time Entry description",
                      "hoursSpent" : "3",
                      "ownerId" : "4000000008692",
                      "isBillable" : true,
                      "mode" : "MANUAL",
                      "isTrashed" : "false",
                      "billingType" : "FIXED_COST_FOR_TICKETS",
                      "createdTime" : 1466488320828,
                      "invoiceId" : "4000000008688123",
                      "id" : "4000000045001",
                      "requestChargeType" : "Customer Service",
                      "additionalCost" : "10.0",
                      "totalCost" : "20.17"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "12f1d757f0439e03f08d01fae310e2c3",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.addTimeEntry"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/timeEntryByBillingType" : {
      "get" : {
        "tags" : [ "TicketTimeEntry" ],
        "summary" : "Get Ticket Time Entries by Billing Type",
        "description" : "This API fetches time entries for a ticket created after recently modified time of the given billing type from your help desk",
        "operationId" : "getTicketTimeEntriesByBillingType",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed value is : @owner@ ",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Allowed value is : @owner@ ",
            "enum" : [ "owner" ]
          }
        }, {
          "name" : "billingType",
          "in" : "query",
          "description" : "Allowed values are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ @SPECIFIC_COST_PER_PROFILE@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed values are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ @SPECIFIC_COST_PER_PROFILE@",
            "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_PROFILE", "SPECIFIC_COST_PER_AGENT" ]
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "description" : "ID of the ticket",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the ticket",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "listTicketTimeEntries template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "additionalCost", "agentCostPerHour", "cf", "createdBy", "createdTime", "customFields", "departmentId", "description", "executedTime", "fixedCost", "hoursSpent", "id", "invoiceId", "isBillable", "isTrashed", "layoutDetails", "layoutId", "minutesSpent", "mode", "ownerId", "parent", "requestChargeType", "requestId", "secondsSpent", "taskId", "totalCost" ],
                          "properties" : {
                            "parent" : {
                              "maxProperties" : 4,
                              "minProperties" : 4,
                              "required" : [ "id", "subject", "ticketNumber", "type" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "subject" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "executedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "customFields" : {
                              "additionalProperties" : false
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "agentCostPerHour" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "ownerId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "mode" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "MANUAL", "AUTO" ]
                            },
                            "isTrashed" : { },
                            "requestId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "requestChargeType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance" ]
                            },
                            "layoutDetails" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "layoutName" ],
                              "properties" : {
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "layoutName" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "secondsSpent" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "cf" : {
                              "additionalProperties" : false
                            },
                            "fixedCost" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                            },
                            "minutesSpent" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "hoursSpent" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "layoutId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isBillable" : {
                              "description" : "Key that returns if the time tracked is billable or not"
                            },
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "invoiceId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "additionalCost" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                            },
                            "totalCost" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                            },
                            "taskId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "owner" : {
                              "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "billingType", "createdBy" ],
                          "properties" : {
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "billingType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_PROFILE", "SPECIFIC_COST_PER_AGENT" ]
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "owner" : {
                          "firstName" : "Eswer",
                          "lastName" : "KM",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&ID=4851669",
                          "name" : "Eswer KM",
                          "id" : "4000000008688129"
                        },
                        "secondsSpent" : "0",
                        "parent" : {
                          "ticketNumber" : "1004",
                          "subject" : "Ticket subject",
                          "id" : "4000000031007",
                          "type" : "TICKETS"
                        },
                        "cf" : { },
                        "executedTime" : null,
                        "fixedCost" : null,
                        "departmentId" : "4000000008694",
                        "minutesSpent" : "0",
                        "agentCostPerHour" : null,
                        "description" : null,
                        "hoursSpent" : "0",
                        "ownerId" : "15000000009148",
                        "isBillable" : true,
                        "mode" : "MANUAL",
                        "isTrashed" : "false",
                        "createdBy" : "15000000009148",
                        "billingType" : "FIXED_COST_FOR_TICKETS",
                        "createdTime" : 1515609917000,
                        "invoiceId" : "4000000008688123",
                        "id" : "15000000031007",
                        "requestChargeType" : "Customer Service",
                        "additionalCost" : null,
                        "totalCost" : "0.0"
                      }, {
                        "owner" : {
                          "firstName" : "Eswer",
                          "lastName" : "KM",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&ID=4851669",
                          "name" : "Eswer KM",
                          "id" : "4000000008688129"
                        },
                        "secondsSpent" : "0",
                        "parent" : {
                          "ticketNumber" : "1004",
                          "subject" : "Ticket subject",
                          "id" : "4000000031007",
                          "type" : "TICKETS"
                        },
                        "cf" : { },
                        "executedTime" : 1513793360000,
                        "departmentId" : "4000000008694",
                        "fixedCost" : null,
                        "minutesSpent" : "0",
                        "agentCostPerHour" : null,
                        "description" : "Dummy#2",
                        "hoursSpent" : "1",
                        "ownerId" : "15000000009148",
                        "isBillable" : true,
                        "mode" : "MANUAL",
                        "isTrashed" : "false",
                        "createdBy" : "15000000009148",
                        "billingType" : "FIXED_COST_FOR_TICKETS",
                        "createdTime" : 1515597647000,
                        "invoiceId" : "4000000008688123",
                        "id" : "15000000029314",
                        "requestChargeType" : "Upgrade Request",
                        "additionalCost" : null,
                        "totalCost" : "0.0"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
[...]
