{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Ticket",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/agentUnresolvedTicketsCount" : {
      "get" : {
        "tags" : [ "Ticket" ],
        "summary" : "List OPEN and ONHOLD Tickets Count",
        "description" : "This API lists the number of open and onhold tickets assigned to specified agentIds in the given department. Do not give light agents in the list of agentIds since tickets are not assigned to light agents",
        "operationId" : "getAgentUnresolvedTicketsCount",
        "parameters" : [ {
          "name" : "agentIds",
          "in" : "query",
          "description" : "Comma-separated array of agent IDs. Maximum number of IDs allowed is 50.",
          "required" : true,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Comma-separated array of agent IDs. Maximum number of IDs allowed is 50.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Comma-separated array of agent IDs. Maximum number of IDs allowed is 50.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the ticket count must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the ticket count must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getAgentTicketCountResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "agentId", "count" ],
                        "properties" : {
                          "agentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "agentId" : "12878000000091322",
                        "count" : "5"
                      }, {
                        "agentId" : "12878000000083005",
                        "count" : "13"
                      }, {
                        "agentId" : "12878000000415043",
                        "count" : "2"
                      }, {
                        "agentId" : "12878000000091262",
                        "count" : "35"
                      }, {
                        "agentId" : "12878000000234019",
                        "count" : "0"
                      }, {
                        "agentId" : "12878000000837001",
                        "count" : "10"
                      }, {
                        "agentId" : "12878000000091300",
                        "count" : "69"
                      }, {
                        "agentId" : "12878000000415035",
                        "count" : "3"
                      }, {
                        "agentId" : "12878000000091926",
                        "count" : "27"
                      }, {
                        "agentId" : "12878000000450026",
                        "count" : "4"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "da1f4101207b89689d5274298827b4fa",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.RecordsCountService.getAgentUnresolvedTicketsCount"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/collision/userAction" : {
      "post" : {
        "tags" : [ "Ticket" ],
        "operationId" : "publishUserAction",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "actionType", "instanceId" ],
                "properties" : {
                  "actionType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "reply", "view", "idle" ]
                  },
                  "instanceId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TicketCollisionService.publishUserAction"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/resolution" : {
      "get" : {
        "tags" : [ "Ticket" ],
        "summary" : "Get ticket resolution",
        "description" : "This API fetches details related to the resolution of a ticket.",
        "operationId" : "getTicketResolution",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getResolutionResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "author", "content", "modifiedTime" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "author" : {
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Email ID in the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "content" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "errorCode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                      },
                      "message" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1449878400000,
                      "author" : {
                        "firstName" : "saran",
                        "lastName" : "raj",
                        "photoURL" : "https://desk.zoho.com/api/v1/agent/160200000000068005/photo",
                        "id" : 160200000000068000,
                        "email" : "carol@zylker.com"
                      },
                      "content" : "test resolution API"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "548480dbc3db1b1cdf219a8baf511ed0",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.RequestService.getResolution"
        }
      },
      "delete" : {
        "tags" : [ "Ticket" ],
        "summary" : "Delete ticket resolution",
        "description" : "This API deletes a resolution added to a ticket.",
        "operationId" : "deleteTicketResolution",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "ef2e4817a9675f49e9e2166dffe230d6",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.RequestService.deleteResolution"
        }
      },
      "patch" : {
        "tags" : [ "Ticket" ],
        "summary" : "Update ticket resolution",
        "description" : "This API updates the resolution field of a ticket.",
        "operationId" : "updateTicketResolution",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "content" ],
                "properties" : {
                  "isNotifyContact" : {
                    "description" : "Key that specifies if the contact associated must be notified about the resolution"
                  },
                  "content" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Content to add in the field"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "isNotifyContact" : false,
                    "content" : "test resolution API"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "resolutionResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "author", "content", "modifiedTime" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "author" : {
                      "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Email ID in the ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "content" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Content to add in the field",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1449878400000,
                      "author" : {
                        "firstName" : "pandi",
                        "lastName" : "raj",
                        "photoURL" : "https://desk.zoho.com/api/v1/agent/160200000000068005/photo",
                        "id" : 160200000000068000,
                        "email" : "pandeeswaran@zylker.com"
                      },
                      "content" : "test resolution API"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "38c54839ccc252604d285dc88650be29",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.RequestService.updateResolution"
        }
      }
    },
    "/api/v1/agentsTicketsCount" : {
      "get" : {
        "tags" : [ "Ticket" ],
        "summary" : "List all agentsTicketsCount",
        "description" : "This API returns the number of tickets assigned to multiple agents.",
        "operationId" : "getAgentsTicketsCount",
        "parameters" : [ {
          "name" : "agentIds",
          "in" : "query",
          "description" : "Comma-separated array of agent IDs. Maximum number of IDs allowed is 50.",
          "required" : true,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Comma-separated array of agent IDs. Maximum number of IDs allowed is 50.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Comma-separated array of agent IDs. Maximum number of IDs allowed is 50.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the ticket count must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the ticket count must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getAgentsTicketCountResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "allOf" : [ {
                          "properties" : {
                            "channel" : {
                              "items" : {
                                "x-dynamic-enum" : true
                              }
                            }
                          }
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "dueIn1HrCount", "onholdCount", "openCount", "overDueCount" ],
                              "properties" : {
                                "onholdCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "dueIn1HrCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "overDueCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "openCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "agentId" ],
                              "properties" : {
                                "agentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            } ]
                          }, {
                            "required" : [ "isOnline" ],
                            "properties" : {
                              "isOnline" : { }
                            }
                          } ]
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "onholdCount" : 1,
                        "agentId" : "4000000008734",
                        "dueIn1HrCount" : 0,
                        "overDueCount" : 2,
                        "channel" : [ "Mail", "Phone" ],
                        "isOnline" : true,
                        "openCount" : 18
                      }, {
                        "onholdCount" : 1,
                        "agentId" : "4000000056010",
                        "dueIn1HrCount" : 0,
                        "overDueCount" : 0,
                        "isOnline" : false,
                        "openCount" : 0
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "95a761aa42c2047585d6ad48e99aa464",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.MDashboardService.getAgentsTicketsCount"
        }
      }
    },
    "/deskapi/v1/tickets/{ticketId}" : {
      "get" : {
        "tags" : [ "Ticket" ],
        "operationId" : "getDeskRequest",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed values are : @contacts@, @products@. You can inlcude both by separating them with a comma in the query param.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Allowed values are : @contacts@, @products@. You can inlcude both by separating them with a comma in the query param.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "products" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getTicketResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "product" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "id", "productName" ],
                        "properties" : {
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "productName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "contact" : {
                        "maxProperties" : 9,
                        "minProperties" : 9,
                        "required" : [ "account", "email", "firstName", "id", "isSpam", "lastName", "mobile", "phone", "type" ],
                        "properties" : {
                          "lastName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "firstName" : {
                            "maxLength" : 40,
                            "minLength" : 0
                          },
                          "phone" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          },
                          "mobile" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          },
                          "isSpam" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "x-dynamic-enum" : true
                          },
                          "email" : {
                            "maxLength" : 255,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "account" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "accountName", "id", "website" ],
                            "properties" : {
                              "website" : {
                                "maxLength" : 120,
                                "minLength" : 0
                              },
                              "accountName" : {
                                "maxLength" : 200,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "skillsInfo" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 6,
                          "minProperties" : 6,
                          "required" : [ "mappingType", "skillId", "skillName", "skillTypeId", "skillTypeName", "weightage" ],
                          "properties" : {
                            "weightage" : {
                              "maximum" : 10,
                              "minimum" : 1,
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "skillName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "skillId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "skillTypeId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "mappingType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SYSTEM", "USER" ]
                            },
                            "skillTypeName" : {
                              "maxLength" : 50,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : { }
                        }
                      },
                      "contractId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isRead" : { },
                      "team" : {
                        "maxProperties" : 3,
                        "minProperties" : 3,
                        "required" : [ "id", "logoUrl", "name" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 1,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "logoUrl" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "assignee" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "department" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "id", "name" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "additionalProperties" : { },
                      "allOf" : [ {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                            "properties" : {
                              "productId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the product to which the ticket is mapped",
                                "format" : "int64"
                              },
                              "phone" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                "description" : "Phone number in the ticket",
                                "x-custom-parameters-attributes" : {
                                  "filterMatchedContent" : true,
                                  "replacementString" : ""
                                }
                              },
                              "subject" : {
                                "maxLength" : 1000,
                                "minLength" : 0,
                                "description" : "Subject of the ticket"
                              },
                              "dueDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                "description" : "Due date for resolving the ticket"
                              },
                              "channel" : {
                                "description" : "Channel through which the ticket originated.",
                                "x-dynamic-enum" : true
                              },
                              "language" : {
                                "description" : "Language preference to set for the ticket",
                                "x-dynamic-enum" : true
                              },
                              "priority" : {
                                "description" : "Priority of the ticket",
                                "x-dynamic-enum" : true
                              },
                              "assigneeId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of agent to whom the ticket is assigned",
                                "format" : "int64"
                              },
                              "email" : {
                                "maxLength" : 150,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                "description" : "Email ID in the ticket"
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "category", "cf", "classification", "customFields", "description", "status", "subCategory", "webUrl" ],
                            "properties" : {
                              "subCategory" : {
                                "x-dynamic-enum" : true,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Subcategory of the ticket",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "cf" : {
                                "additionalProperties" : false
                              },
                              "customFields" : {
                                "additionalProperties" : false
                              },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "URL to access the resource",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "description" : {
                                "maxLength" : 65535,
                                "minLength" : 0,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Description in the ticket",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "xss" : "antisamyfilter_custom",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "classification" : {
                                "x-dynamic-enum" : true,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Type of ticket. Values supported are @Problem@, @Request@, @Question@, and @Others@.",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "category" : {
                                "x-dynamic-enum" : true,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Category of the ticket",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "status" : {
                                "x-dynamic-enum" : true,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Status of the ticket. Includes the custom statuses configured in your help desk portal.",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              }
                            }
                          } ]
                        }, {
                          "required" : [ "accountId", "approvalCount", "attachmentCount", "channelCode", "channelRelatedInfo", "closedTime", "commentCount", "createdTime", "customerResponseTime", "departmentId", "entitySkills", "id", "isArchived", "isDeleted", "isEscalated", "isOverDue", "isResponseOverdue", "isSpam", "isTrashed", "modifiedBy", "modifiedTime", "onholdTime", "resolution", "responseDueDate", "secondaryContacts", "source", "statusType", "taskCount", "teamId", "threadCount", "ticketNumber", "timeEntryCount" ],
                          "properties" : {
                            "entitySkills" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Time of modifying the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "ticketNumber" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Index/Serial number of the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "statusType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Open", "Closed", "On Hold" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Type of ticket resolution status.The values supported are @OPEN@ and @ON HOLD@ and @CLOSED@.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isArchived" : { },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the department to which the ticket belongs",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false,
                                "entity" : "Departments"
                              }
                            },
                            "onholdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "source" : {
                              "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                              "properties" : {
                                "appName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "extId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "permalink" : {
                                  "maxLength" : 65535,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                },
                                "appPhotoURL" : {
                                  "maxLength" : 65535,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "uuid" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "resolution" : {
                              "maxLength" : 65535,
                              "minLength" : 0,
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Resolution notes recorded in the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "closedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Time of closing the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "approvalCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Number of approvals associated with the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "timeEntryCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Number of time entries recorded in the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isOverDue" : { },
                            "channelRelatedInfo" : {
                              "required" : [ "forumStatus", "isTopicDeleted", "sourceLink", "topicId", "topicType" ],
                              "properties" : {
                                "topicId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isTopicDeleted" : { },
                                "forumStatus" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "NOSTATUS", "NEEDMOREINFO", "WORKINGONIT", "ANSWERED", "UNANSWERED", "MAYBELATER", "UNDERREVIEW", "IMPLEMENTED", "WILLNOTIMPLEMENT", "NOTAPROBLEM", "TEMPORARYFIX", "ANALYZING", "SOLVED", "UNSOLVED", "MOSTVOTED", "INPROGRESS", "" ]
                                },
                                "sourceLink" : {
                                  "maxLength" : 255,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "topicType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "DISCUSSION", "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM" ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "isDeleted" : {
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Key that returns if the ticket is deleted or not",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isTrashed" : {
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Field that denotes whether the ticket is in trash",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "responseDueDate" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Time of creating the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isResponseOverdue" : { },
                            "channelCode" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "customerResponseTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Time of receiving  customer response",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "threadCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Number of threads associated in the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "secondaryContacts" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : [ { } ]
                              }
                            },
                            "commentCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Number of comments in the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "accountId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "taskCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Number of tasks associated with the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "teamId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the team assigned to resolve the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "attachmentCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Number of attachments in the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isEscalated" : { },
                            "isSpam" : { }
                          }
                        } ]
                      }, {
                        "required" : [ "contactId", "layoutDetails", "layoutId", "sharedDepartments", "slaId" ],
                        "properties" : {
                          "slaId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "contactId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the contact who raised the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false,
                              "entity" : "Contacts"
                            }
                          },
                          "sharedDepartments" : {
                            "items" : {
                              "required" : [ "id", "name", "type" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "READ_ONLY", "READ_WRITE", "RESTRICTED_ACCESS" ]
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "layoutId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Layout of Ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : true,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "layoutDetails" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "id", "layoutName" ],
                            "properties" : {
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "layoutName" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      } ]
                    }, {
                      "required" : [ "createdBy", "followerCount", "isFollowing", "sentiment", "tagCount" ],
                      "properties" : {
                        "sentiment" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(POSITIVE|NEUTRAL|NEGATIVE)"
                        },
                        "isFollowing" : { },
                        "createdBy" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "tagCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "followerCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      }
                    } ]
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1466514974000,
                      "subCategory" : "Sub General",
                      "statusType" : "Open",
                      "subject" : "Hi. There is a sudden delay in the processing of the orders. Check this with high priority",
                      "dueDate" : 1466525776000,
                      "departmentId" : "1892000000006907",
                      "channel" : "FORUMS",
                      "onholdTime" : null,
                      "language" : "English",
                      "source" : {
                        "appName" : null,
                        "extId" : null,
                        "type" : "SYSTEM",
                        "permalink" : null,
                        "appPhotoURL" : null
                      },
                      "resolution" : null,
                      "sharedDepartments" : [ {
                        "name" : "Sample Department Name",
                        "id" : "1892000000006909",
                        "type" : "READ_WRITE"
                      }, {
                        "name" : "Sample Department Name",
                        "id" : "1892000000006911",
                        "type" : "READ_ONLY"
                      } ],
                      "closedTime" : null,
                      "sharedCount" : "3",
                      "approvalCount" : "1",
                      "isOverDue" : false,
                      "isTrashed" : false,
                      "contact" : {
                        "lastName" : "Carol",
                        "firstName" : "Lucas",
                        "phone" : "1 888 900 9646",
                        "mobile" : "8838486174",
                        "id" : "1892000000042032",
                        "isSpam" : false,
                        "type" : null,
                        "email" : "carol@zylker.com",
                        "account" : {
                          "website" : "www.desk.com",
                          "accountName" : "desk Account",
                          "id" : "1892000000975382"
                        }
                      },
                      "createdTime" : 1383564067000,
                      "id" : "1892000000042034",
                      "customerResponseTime" : 1383564067912,
                      "productId" : null,
                      "contactId" : "1892000000042032",
                      "threadCount" : "121",
                      "secondaryContacts" : [ "1892000000042038", "1892000000042042", "1892000000042056" ],
                      "priority" : "High",
                      "classification" : null,
                      "commentCount" : "1",
                      "taskCount" : "1",
                      "phone" : "1 888 900 9646",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "isSpam" : false,
                      "assignee" : {
                        "firstName" : "dasca",
                        "lastName" : "vins",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/1892000000056007/photo?orgId=298902",
                        "id" : "1892000000056007",
                        "email" : "jack@zylker.com"
                      },
                      "status" : "Open",
                      "entitySkills" : [ "18921000000379001", "18921000000364001", "18921000000379055", "18921000000379031" ],
                      "ticketNumber" : "101",
                      "isRead" : false,
                      "description" : "Hi. There is a sudden delay in the processing of the orders. Check this with high priority",
                      "timeEntryCount" : "3",
                      "channelRelatedInfo" : {
                        "topicId" : "1892000000056253",
                        "isTopicDeleted" : false,
                        "forumStatus" : "ANALYSING",
                        "sourceLink" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Community/singlepost/problem-topic-forum-ticket-18-5-2018",
                        "topicType" : "PROBLEM"
                      },
                      "isDeleted" : "false",
                      "department" : {
                        "name" : "dasdasdasd",
                        "id" : "1892000000006907"
                      },
                      "followerCount" : "5",
                      "email" : "carol@zylker.com",
                      "layoutDetails" : {
                        "id" : "5000000013466",
                        "layoutName" : "Default Ticket Layout"
                      },
                      "channelCode" : null,
[...]
