{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "TimeTracking",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "timeEntry"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/timeTrackDefaultSettings" : {
      "post" : {
        "tags" : [ "TimeTracking" ],
        "operationId" : "saveDefaultTimeTrackingSetup",
        "parameters" : [ {
          "name" : "depId",
          "in" : "query",
          "description" : "ID of the department",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "8f530a58c70a1f7c696fe1575e94fb46",
          "module-group" : "timeEntry",
          "apimethod" : "com.adventnet.support.timetracking.TimeTrackSetupService.saveDefaultTimeTrackingSetup"
        }
      }
    },
    "/api/v1/timeTrackSettings" : {
      "get" : {
        "tags" : [ "TimeTracking" ],
        "summary" : "Get TimeTrack Settings",
        "description" : "This API fetches the details of the TimeTrack Settings configured in your helpdesk.",
        "operationId" : "getTimeTrackingSetup",
        "parameters" : [ {
          "name" : "depId",
          "in" : "query",
          "description" : "ID of the department",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getTimeTrackingJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "activityPreference", "agents", "billingType", "depId", "fixedCost", "isBillable", "isTimeTracking", "profiles", "ticketPreference" ],
                    "properties" : {
                      "ticketPreference" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "autoTrackAction", "isAutoPause", "isAutoTimer", "isHideTimeTracking", "isReviewTime" ],
                        "properties" : {
                          "autoTrackAction" : {
                            "maxProperties" : 9,
                            "minProperties" : 9,
                            "required" : [ "approvalActions", "attachmentActions", "commentActions", "fieldUpdate", "manualDraft", "onChatComplete", "onRemoteAssist", "resolutionActions", "sendReply" ],
                            "properties" : {
                              "fieldUpdate" : { },
                              "onRemoteAssist" : { },
                              "onChatComplete" : { },
                              "commentActions" : { },
                              "approvalActions" : { },
                              "sendReply" : { },
                              "manualDraft" : { },
                              "resolutionActions" : { },
                              "attachmentActions" : { }
                            },
                            "additionalProperties" : false
                          },
                          "isReviewTime" : { },
                          "isAutoPause" : { },
                          "isHideTimeTracking" : { },
                          "isAutoTimer" : { }
                        },
                        "additionalProperties" : false
                      },
                      "billingType" : {
                        "description" : "Type of billing configured. Values supported are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ and @SPECIFIC_COST_PER_PROFILE@ ",
                        "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE", null ]
                      },
                      "activityPreference" : {
                        "maxProperties" : 4,
                        "minProperties" : 4,
                        "required" : [ "canAutoTrackCalls", "isEventsEnabled", "isTasksEnabled", "trackMode" ],
                        "properties" : {
                          "isTasksEnabled" : { },
                          "isEventsEnabled" : { },
                          "canAutoTrackCalls" : { },
                          "trackMode" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "CONSECUTIVE", "CONCURRENT" ]
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fixedCost" : {
                        "format" : "double",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Cost fixed for either billing category - by ticket or by agent.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "profiles" : {
                        "additionalProperties" : false
                      },
                      "depId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the department in which time tracking must be enabled or disabled.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isTimeTracking" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time tracking refers to the process of recording the time agents take to resolve tickets. This information can be recorded manually or automatically, based on your organization's requirement and preference. APIs related to this endpoint help you configure the settings for automated time tracking.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isBillable" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Key that returns if the time tracked is billable or not.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "agents" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "depId" ],
                    "properties" : {
                      "depId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "ticketPreference" : {
                        "autoTrackAction" : {
                          "fieldUpdate" : true,
                          "onChatComplete" : true,
                          "onRemoteAssist" : true,
                          "commentActions" : true,
                          "approvalActions" : true,
                          "sendReply" : true,
                          "manualDraft" : true,
                          "resolutionActions" : true,
                          "attachmentActions" : true
                        },
                        "isReviewTime" : "false",
                        "isAutoPause" : "true",
                        "isAutoTimer" : "true",
                        "isHideTimeTracking" : "false"
                      },
                      "billingType" : "SPECIFIC_COST_PER_AGENT",
                      "activityPreference" : {
                        "isTasksEnabled" : "true",
                        "trackMode" : "CONSECUTIVE",
                        "isEventsEnabled" : "true",
                        "canAutoTrackCalls" : "true"
                      },
                      "fixedCost" : "1000",
                      "profiles" : [ {
                        "cost" : "100",
                        "id" : "1"
                      }, {
                        "cost" : "200",
                        "id" : "2"
                      } ],
                      "depId" : "1892000000006907",
                      "isTimeTracking" : "true",
                      "isBillable" : "true",
                      "agents" : [ {
                        "cost" : "100",
                        "id" : "1"
                      }, {
                        "cost" : "200",
                        "id" : "2"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 150,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "8e1aa4428ba1c519d01eeebac9e5fce8",
          "module-group" : "timeEntry",
          "apimethod" : "com.adventnet.support.timetracking.TimeTrackSetupService.getTimeTrackingSetup"
        }
      },
      "put" : {
        "tags" : [ "TimeTracking" ],
        "summary" : "Update TimeTrackSettings",
        "description" : "This API updates an existing TimeTracking configuration.",
        "operationId" : "updateTimeTrackingSettings",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "depId", "isTimeTracking" ],
                "properties" : {
                  "ticketPreference" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "autoTrackAction", "isAutoPause", "isAutoTimer", "isHideTimeTracking", "isReviewTime" ],
                    "properties" : {
                      "autoTrackAction" : {
                        "maxProperties" : 9,
                        "minProperties" : 9,
                        "required" : [ "approvalActions", "attachmentActions", "commentActions", "fieldUpdate", "manualDraft", "onChatComplete", "onRemoteAssist", "resolutionActions", "sendReply" ],
                        "properties" : {
                          "fieldUpdate" : {
                            "description" : "Whether to create timeentry when upaating field in a ticket in auto track mode"
                          },
                          "onRemoteAssist" : {
                            "description" : "Whether to create timeentry for remote assist in a ticket in auto track mode. This is applicable only for assist integrated portals",
                            "x-audience" : [ "company-internal" ]
                          },
                          "onChatComplete" : {
                            "description" : "Whether to create timeentry when closing a chat for a ticket in auto track mode"
                          },
                          "commentActions" : {
                            "description" : "Whether to create timeentry when commenting in a ticket in auto track mode"
                          },
                          "approvalActions" : {
                            "description" : "Whether to create timeentry while create, edit, delete approvals in a ticket in auto track mode"
                          },
                          "sendReply" : {
                            "description" : "Whether to create timeentry when replying in a ticket in auto track mode"
                          },
                          "manualDraft" : {
                            "description" : "Whether to create timeentry when saving draft manually in a ticket in auto track mode"
                          },
                          "resolutionActions" : {
                            "description" : "Whether to create timeentry when create, edit, delete resolution in a ticket in auto track mode"
                          },
                          "attachmentActions" : {
                            "description" : "Whether to create timeentry while create, edit, delete attachments in a ticket in auto track mode"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "isReviewTime" : {
                        "description" : "Type of track preference (either Manual  Automatic)"
                      },
                      "isAutoPause" : {
                        "description" : "Type of track preference (either Manual  Automatic)"
                      },
                      "isHideTimeTracking" : {
                        "description" : "Type of track preference (either Manual  Automatic)"
                      },
                      "isAutoTimer" : {
                        "description" : "Type of track preference (either Manual  Automatic)"
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "billingType" : {
                    "description" : "Type of billing configured. Values supported are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ and @SPECIFIC_COST_PER_PROFILE@ ",
                    "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE", null ]
                  },
                  "activityPreference" : {
                    "maxProperties" : 4,
                    "minProperties" : 4,
                    "required" : [ "canAutoTrackCalls", "isEventsEnabled", "isTasksEnabled", "trackMode" ],
                    "properties" : {
                      "isTasksEnabled" : {
                        "description" : "To enable time tracking for tasks in manual mode"
                      },
                      "isEventsEnabled" : {
                        "description" : "To enable time tracking for events in manual mode"
                      },
                      "canAutoTrackCalls" : {
                        "description" : "To enable time tracking for calls in auto mode"
                      },
                      "trackMode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Track Mode for activity. Supported values arw @CONSECUTIVE@ @CONCURRENT@",
                        "enum" : [ "CONSECUTIVE", "CONCURRENT" ]
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "fixedCost" : {
                    "description" : "Cost fixed for either billing category - by ticket or by agent.",
                    "format" : "double"
                  },
                  "profiles" : {
                    "additionalProperties" : { }
                  },
                  "depId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the department in which time tracking must be enabled or disabled.",
                    "format" : "int64"
                  },
                  "isTimeTracking" : {
                    "description" : "Time tracking refers to the process of recording the time agents take to resolve tickets. This information can be recorded manually or automatically, based on your organization's requirement and preference. APIs related to this endpoint help you configure the settings for automated time tracking."
                  },
                  "isBillable" : {
                    "description" : "Key that returns if the time tracked is billable or not."
                  },
                  "agents" : {
                    "additionalProperties" : { }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ticketPreference" : {
                      "autoTrackAction" : {
                        "fieldUpdate" : true,
                        "onChatComplete" : true,
                        "onRemoteAssist" : true,
                        "commentActions" : true,
                        "approvalActions" : true,
                        "sendReply" : true,
                        "manualDraft" : true,
                        "resolutionActions" : true,
                        "attachmentActions" : true
                      },
                      "isReviewTime" : "false",
                      "isAutoPause" : "true",
                      "isAutoTimer" : "true",
                      "isHideTimeTracking" : "false"
                    },
                    "billingType" : "SPECIFIC_COST_PER_AGENT",
                    "activityPreference" : {
                      "isTasksEnabled" : "true",
                      "trackMode" : "CONSECUTIVE",
                      "isEventsEnabled" : "true",
                      "canAutoTrackCalls" : "true"
                    },
                    "fixedCost" : "1000",
                    "profiles" : [ {
                      "cost" : "100",
                      "id" : "1"
                    }, {
                      "cost" : "200",
                      "id" : "2"
                    } ],
                    "depId" : "1892000000006907",
                    "isTimeTracking" : "true",
                    "timerAction" : "ADD",
                    "isBillable" : "true",
                    "agents" : [ {
                      "cost" : "100",
                      "id" : "1"
                    }, {
                      "cost" : "200",
                      "id" : "2"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getTimeTrackingJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "activityPreference", "agents", "billingType", "depId", "fixedCost", "isBillable", "isTimeTracking", "profiles", "ticketPreference" ],
                    "properties" : {
                      "ticketPreference" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "autoTrackAction", "isAutoPause", "isAutoTimer", "isHideTimeTracking", "isReviewTime" ],
                        "properties" : {
                          "autoTrackAction" : {
                            "maxProperties" : 9,
                            "minProperties" : 9,
                            "required" : [ "approvalActions", "attachmentActions", "commentActions", "fieldUpdate", "manualDraft", "onChatComplete", "onRemoteAssist", "resolutionActions", "sendReply" ],
                            "properties" : {
                              "fieldUpdate" : { },
                              "onRemoteAssist" : { },
                              "onChatComplete" : { },
                              "commentActions" : { },
                              "approvalActions" : { },
                              "sendReply" : { },
                              "manualDraft" : { },
                              "resolutionActions" : { },
                              "attachmentActions" : { }
                            },
                            "additionalProperties" : false
                          },
                          "isReviewTime" : { },
                          "isAutoPause" : { },
                          "isHideTimeTracking" : { },
                          "isAutoTimer" : { }
                        },
                        "additionalProperties" : false
                      },
                      "billingType" : {
                        "description" : "Type of billing configured. Values supported are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ and @SPECIFIC_COST_PER_PROFILE@ ",
                        "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE", null ]
                      },
                      "activityPreference" : {
                        "maxProperties" : 4,
                        "minProperties" : 4,
                        "required" : [ "canAutoTrackCalls", "isEventsEnabled", "isTasksEnabled", "trackMode" ],
                        "properties" : {
                          "isTasksEnabled" : { },
                          "isEventsEnabled" : { },
                          "canAutoTrackCalls" : { },
                          "trackMode" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "CONSECUTIVE", "CONCURRENT" ]
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fixedCost" : {
                        "format" : "double",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Cost fixed for either billing category - by ticket or by agent.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "profiles" : {
                        "additionalProperties" : false
                      },
                      "depId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the department in which time tracking must be enabled or disabled.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isTimeTracking" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time tracking refers to the process of recording the time agents take to resolve tickets. This information can be recorded manually or automatically, based on your organization's requirement and preference. APIs related to this endpoint help you configure the settings for automated time tracking.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isBillable" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Key that returns if the time tracked is billable or not.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "agents" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "depId" ],
                    "properties" : {
                      "depId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "ticketPreference" : {
                        "autoTrackAction" : {
                          "fieldUpdate" : true,
                          "onChatComplete" : true,
                          "onRemoteAssist" : true,
                          "commentActions" : true,
                          "approvalActions" : true,
                          "sendReply" : true,
                          "manualDraft" : true,
                          "resolutionActions" : true,
                          "attachmentActions" : true
                        },
                        "isReviewTime" : "false",
                        "isAutoPause" : "true",
                        "isAutoTimer" : "true",
                        "isHideTimeTracking" : "false"
                      },
                      "billingType" : "SPECIFIC_COST_PER_AGENT",
                      "activityPreference" : {
                        "isTasksEnabled" : "true",
                        "trackMode" : "CONSECUTIVE",
                        "isEventsEnabled" : "true",
                        "canAutoTrackCalls" : "true"
                      },
                      "fixedCost" : "1000",
                      "profiles" : [ {
                        "cost" : "100",
                        "id" : "1"
                      }, {
                        "cost" : "200",
                        "id" : "2"
                      } ],
                      "depId" : "1892000000006907",
                      "isTimeTracking" : "true",
                      "isBillable" : "true",
                      "agents" : [ {
                        "cost" : "100",
                        "id" : "1"
                      }, {
                        "cost" : "200",
                        "id" : "2"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 150,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "d9c2ec74399ffb2b39efca338ddd56da",
          "module-group" : "timeEntry",
          "apimethod" : "com.adventnet.support.timetracking.TimeTrackSetupService.updateTimeTrackingSetup"
        }
      },
      "post" : {
        "tags" : [ "TimeTracking" ],
        "summary" : "Create TimeTrackSettings",
        "description" : "This API adds a TimeTracking configuration to your helpdesk.",
        "operationId" : "saveTimeTrackingSettings",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "depId", "isTimeTracking" ],
                "properties" : {
                  "ticketPreference" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "autoTrackAction", "isAutoPause", "isAutoTimer", "isHideTimeTracking", "isReviewTime" ],
                    "properties" : {
                      "autoTrackAction" : {
                        "maxProperties" : 9,
                        "minProperties" : 9,
                        "required" : [ "approvalActions", "attachmentActions", "commentActions", "fieldUpdate", "manualDraft", "onChatComplete", "onRemoteAssist", "resolutionActions", "sendReply" ],
                        "properties" : {
                          "fieldUpdate" : {
                            "description" : "Whether to create timeentry when upaating field in a ticket in auto track mode"
                          },
                          "onRemoteAssist" : {
                            "description" : "Whether to create timeentry for remote assist in a ticket in auto track mode. This is applicable only for assist integrated portals",
                            "x-audience" : [ "company-internal" ]
                          },
                          "onChatComplete" : {
                            "description" : "Whether to create timeentry when closing a chat for a ticket in auto track mode"
                          },
                          "commentActions" : {
                            "description" : "Whether to create timeentry when commenting in a ticket in auto track mode"
                          },
                          "approvalActions" : {
                            "description" : "Whether to create timeentry while create, edit, delete approvals in a ticket in auto track mode"
                          },
                          "sendReply" : {
                            "description" : "Whether to create timeentry when replying in a ticket in auto track mode"
                          },
                          "manualDraft" : {
                            "description" : "Whether to create timeentry when saving draft manually in a ticket in auto track mode"
                          },
                          "resolutionActions" : {
                            "description" : "Whether to create timeentry when create, edit, delete resolution in a ticket in auto track mode"
                          },
                          "attachmentActions" : {
                            "description" : "Whether to create timeentry while create, edit, delete attachments in a ticket in auto track mode"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "isReviewTime" : {
                        "description" : "Type of track preference (either Manual  Automatic)"
                      },
                      "isAutoPause" : {
                        "description" : "Type of track preference (either Manual  Automatic)"
                      },
                      "isHideTimeTracking" : {
                        "description" : "Type of track preference (either Manual  Automatic)"
                      },
                      "isAutoTimer" : {
                        "description" : "Type of track preference (either Manual  Automatic)"
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "billingType" : {
                    "description" : "Type of billing configured. Values supported are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ and @SPECIFIC_COST_PER_PROFILE@ ",
                    "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE", null ]
                  },
                  "activityPreference" : {
                    "maxProperties" : 4,
                    "minProperties" : 4,
                    "required" : [ "canAutoTrackCalls", "isEventsEnabled", "isTasksEnabled", "trackMode" ],
                    "properties" : {
                      "isTasksEnabled" : {
                        "description" : "To enable time tracking for tasks in manual mode"
                      },
                      "isEventsEnabled" : {
                        "description" : "To enable time tracking for events in manual mode"
                      },
                      "canAutoTrackCalls" : {
                        "description" : "To enable time tracking for calls in auto mode"
                      },
                      "trackMode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Track Mode for activity. Supported values arw @CONSECUTIVE@ @CONCURRENT@",
                        "enum" : [ "CONSECUTIVE", "CONCURRENT" ]
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "fixedCost" : {
                    "description" : "Cost fixed for either billing category - by ticket or by agent.",
                    "format" : "double"
                  },
                  "profiles" : {
                    "additionalProperties" : { }
                  },
                  "depId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the department in which time tracking must be enabled or disabled.",
                    "format" : "int64"
                  },
                  "isTimeTracking" : {
                    "description" : "Time tracking refers to the process of recording the time agents take to resolve tickets. This information can be recorded manually or automatically, based on your organization's requirement and preference. APIs related to this endpoint help you configure the settings for automated time tracking."
                  },
                  "isBillable" : {
                    "description" : "Key that returns if the time tracked is billable or not."
                  },
                  "agents" : {
                    "additionalProperties" : { }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ticketPreference" : {
                      "autoTrackAction" : {
                        "fieldUpdate" : true,
                        "onChatComplete" : true,
                        "onRemoteAssist" : true,
                        "commentActions" : true,
                        "approvalActions" : true,
                        "sendReply" : true,
                        "manualDraft" : true,
                        "resolutionActions" : true,
                        "attachmentActions" : true
                      },
                      "isReviewTime" : "false",
                      "isAutoPause" : "true",
                      "isAutoTimer" : "true",
                      "isHideTimeTracking" : "false"
                    },
                    "billingType" : "SPECIFIC_COST_PER_AGENT",
                    "activityPreference" : {
                      "isTasksEnabled" : "true",
                      "trackMode" : "CONSECUTIVE",
                      "isEventsEnabled" : "true",
                      "canAutoTrackCalls" : "true"
                    },
                    "fixedCost" : "1000",
                    "profiles" : [ {
                      "cost" : "100",
                      "id" : "1"
                    }, {
                      "cost" : "200",
                      "id" : "2"
                    } ],
                    "depId" : "1892000000006907",
                    "isTimeTracking" : "true",
                    "isBillable" : "true",
                    "agents" : [ {
                      "cost" : "100",
                      "id" : "1"
                    }, {
                      "cost" : "200",
                      "id" : "2"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getTimeTrackingJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "activityPreference", "agents", "billingType", "depId", "fixedCost", "isBillable", "isTimeTracking", "profiles", "ticketPreference" ],
                    "properties" : {
                      "ticketPreference" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "autoTrackAction", "isAutoPause", "isAutoTimer", "isHideTimeTracking", "isReviewTime" ],
                        "properties" : {
                          "autoTrackAction" : {
                            "maxProperties" : 9,
                            "minProperties" : 9,
                            "required" : [ "approvalActions", "attachmentActions", "commentActions", "fieldUpdate", "manualDraft", "onChatComplete", "onRemoteAssist", "resolutionActions", "sendReply" ],
                            "properties" : {
                              "fieldUpdate" : { },
                              "onRemoteAssist" : { },
                              "onChatComplete" : { },
                              "commentActions" : { },
                              "approvalActions" : { },
                              "sendReply" : { },
                              "manualDraft" : { },
                              "resolutionActions" : { },
                              "attachmentActions" : { }
                            },
                            "additionalProperties" : false
                          },
                          "isReviewTime" : { },
                          "isAutoPause" : { },
                          "isHideTimeTracking" : { },
                          "isAutoTimer" : { }
                        },
                        "additionalProperties" : false
                      },
                      "billingType" : {
                        "description" : "Type of billing configured. Values supported are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ and @SPECIFIC_COST_PER_PROFILE@ ",
                        "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE", null ]
                      },
                      "activityPreference" : {
                        "maxProperties" : 4,
                        "minProperties" : 4,
                        "required" : [ "canAutoTrackCalls", "isEventsEnabled", "isTasksEnabled", "trackMode" ],
                        "properties" : {
                          "isTasksEnabled" : { },
                          "isEventsEnabled" : { },
                          "canAutoTrackCalls" : { },
                          "trackMode" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "CONSECUTIVE", "CONCURRENT" ]
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fixedCost" : {
                        "format" : "double",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Cost fixed for either billing category - by ticket or by agent.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "profiles" : {
                        "additionalProperties" : false
                      },
                      "depId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the department in which time tracking must be enabled or disabled.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isTimeTracking" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time tracking refers to the process of recording the time agents take to resolve tickets. This information can be recorded manually or automatically, based on your organization's requirement and preference. APIs related to this endpoint help you configure the settings for automated time tracking.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isBillable" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Key that returns if the time tracked is billable or not.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "agents" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "depId" ],
                    "properties" : {
                      "depId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "ticketPreference" : {
                        "autoTrackAction" : {
                          "fieldUpdate" : true,
                          "onChatComplete" : true,
                          "onRemoteAssist" : true,
                          "commentActions" : true,
                          "approvalActions" : true,
                          "sendReply" : true,
                          "manualDraft" : true,
                          "resolutionActions" : true,
                          "attachmentActions" : true
                        },
                        "isReviewTime" : "false",
                        "isAutoPause" : "true",
                        "isAutoTimer" : "true",
                        "isHideTimeTracking" : "false"
                      },
                      "billingType" : "SPECIFIC_COST_PER_AGENT",
                      "activityPreference" : {
                        "isTasksEnabled" : "true",
                        "trackMode" : "CONSECUTIVE",
                        "isEventsEnabled" : "true",
                        "canAutoTrackCalls" : "true"
                      },
                      "fixedCost" : "1000",
                      "profiles" : [ {
                        "cost" : "100",
                        "id" : "1"
                      }, {
                        "cost" : "200",
                        "id" : "2"
                      } ],
                      "depId" : "1892000000006907",
                      "isTimeTracking" : "true",
                      "isBillable" : "true",
                      "agents" : [ {
                        "cost" : "100",
                        "id" : "1"
                      }, {
                        "cost" : "200",
                        "id" : "2"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 150,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "b9dc397e9829247bf682154cf1db3b67",
          "module-group" : "timeEntry",
          "apimethod" : "com.adventnet.support.timetracking.TimeTrackSetupService.saveTimeTrackingSetup"
        }
      }
    },
    "/api/v1/timeTrackHistory" : {
      "get" : {
        "tags" : [ "TimeTracking" ],
        "summary" : "List history details of billing TimeTrack Settings",
        "description" : "This API fetches the history of changes made to the billing preferences in time tracking settings. The different events supported are @BILLING_PREFERENCE_ENABLED@, @BILLING_PREFERENCE_DISABLED@, @BILLING_TYPE_SELECTED@, @BILLING_TYPE_CHANGED@, @FIXED_COST_ENTERED@, @FIXED_COST_EDITED@, @AGENT_ADDED@, @AGENT_COST_EDITED@, @AGENT_DELETED@, @PROFILE_ADDED@, @PROFILE_COST_EDITED@, and @PROFILE_DELETED@.",
        "operationId" : "getTimeTrackBillingHistory",
        "parameters" : [ {
          "name" : "depId",
          "in" : "query",
          "description" : "ID of the department",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getTimeTrackingResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "modifiedBy", "modifiedTime", "name", "newValue", "oldValue" ],
                          "properties" : {
                            "newValue" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE" ]
                            },
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "FIXED_COST_ENTERED", "BILLING_TYPE_CHANGED", "BILLING_PREFERENCE_DISABLED", "BILLING_PREFERENCE_ENABLED", "FIXED_COST_EDITED", "BILLING_TYPE_SELECTED", "AGENT_ADDED", "AGENT_COST_EDITED", "AGENT_DELETED", "PROFILE_ADDED", "PROFILE_COST_EDITED", "PROFILE_DELETED" ]
                            },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "oldValue" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "modifiedBy", "modifiedTime", "name" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "FIXED_COST_ENTERED", "BILLING_TYPE_CHANGED", "BILLING_PREFERENCE_DISABLED", "BILLING_PREFERENCE_ENABLED", "FIXED_COST_EDITED", "BILLING_TYPE_SELECTED", "AGENT_ADDED", "AGENT_COST_EDITED", "AGENT_DELETED", "PROFILE_ADDED", "PROFILE_COST_EDITED", "PROFILE_DELETED" ]
                            },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "modifiedBy", "modifiedTime", "name", "newValue", "oldValue" ],
                          "properties" : {
                            "newValue" : {
                              "format" : "double"
                            },
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "FIXED_COST_ENTERED", "BILLING_TYPE_CHANGED", "BILLING_PREFERENCE_DISABLED", "BILLING_PREFERENCE_ENABLED", "FIXED_COST_EDITED", "BILLING_TYPE_SELECTED", "AGENT_ADDED", "AGENT_COST_EDITED", "AGENT_DELETED", "PROFILE_ADDED", "PROFILE_COST_EDITED", "PROFILE_DELETED" ]
                            },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "oldValue" : {
                              "format" : "double"
                            }
                          },
                          "additionalProperties" : false
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "owner" : [ {
                          "photoURL" : "'https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20'",
                          "name" : "meenakshi"
                        } ],
                        "modifiedTime" : 1519044829000,
                        "agentId" : "15000000009148",
                        "name" : "AGENT_DELETED",
                        "modifiedBy" : "15000000009148"
                      }, {
                        "owner" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166891&nps=404&exp=600'",
                          "name" : "meenakshi"
                        },
                        "modifiedTime" : 1519044829000,
                        "agentId" : "15000000009321",
                        "cost" : "100",
                        "name" : "AGENT_ADDED",
                        "modifiedBy" : "15000000009148",
                        "modifiedAgent" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        }
                      }, {
                        "owner" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        },
                        "modifiedTime" : 1519044317000,
                        "agentId" : "15000000009148",
                        "cost" : "100",
                        "name" : "AGENT_ADDED",
                        "modifiedBy" : "15000000009148",
                        "modifiedAgent" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        }
                      }, {
                        "owner" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        },
                        "newValue" : "SPECIFIC_COST_PER_AGENT",
                        "modifiedTime" : 1519044317000,
                        "name" : "BILLING_TYPE_CHANGED",
                        "modifiedBy" : "15000000009148",
                        "oldValue" : "FIXED_COST_FOR_TICKETS",
                        "modifiedAgent" : null
                      }, {
                        "owner" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        },
                        "modifiedTime" : 1518167350000,
                        "name" : "BILLING_PREFERENCE_ENABLED",
                        "modifiedBy" : "15000000009148"
                      }, {
                        "owner" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        },
                        "newValue" : null,
                        "modifiedTime" : 1518167337000,
                        "name" : "FIXED_COST_ENTERED",
                        "modifiedBy" : "15000000009148",
                        "oldValue" : null,
                        "modifiedAgent" : null
                      }, {
                        "owner" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        },
                        "newValue" : "FIXED_COST_FOR_TICKETS",
                        "modifiedTime" : 1518167337000,
                        "name" : "BILLING_TYPE_SELECTED",
                        "modifiedBy" : "15000000009148",
                        "oldValue" : null,
                        "modifiedAgent" : null
                      }, {
                        "owner" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        },
                        "modifiedTime" : 1518162601000,
                        "name" : "BILLING_PREFERENCE_DISABLED",
                        "modifiedBy" : "15000000009148",
                        "modifiedAgent" : null
                      }, {
                        "owner" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        },
                        "newValue" : "1300",
                        "modifiedTime" : 1518153180000,
                        "name" : "FIXED_COST_ENTERED",
                        "modifiedBy" : "15000000009148",
                        "oldValue" : null,
                        "modifiedAgent" : null
                      }, {
                        "owner" : {
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=5166343&nps=404&exp=20",
                          "name" : "meenakshi"
                        },
                        "newValue" : "FIXED_COST_FOR_AGENTS",
                        "modifiedTime" : 1518153180000,
                        "name" : "BILLING_TYPE_CHANGED",
                        "modifiedBy" : "15000000009148",
                        "oldValue" : "FIXED_COST_FOR_TICKETS",
                        "modifiedAgent" : null
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 150,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "11425cbe7a87cba0fd23ccafbc55c932",
          "module-group" : "timeEntry",
          "apimethod" : "com.adventnet.support.timetracking.TimeTrackSetupService.getTimeTrackHistory"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "timeTrackingJson" : {
        "required" : [ "activityPreference", "agents", "billingType", "depId", "fixedCost", "isBillable", "isTimeTracking", "profiles", "ticketPreference" ],
        "properties" : {
          "ticketPreference" : {
            "maxProperties" : 5,
            "minProperties" : 5,
            "required" : [ "autoTrackAction", "isAutoPause", "isAutoTimer", "isHideTimeTracking", "isReviewTime" ],
            "properties" : {
              "autoTrackAction" : {
                "maxProperties" : 9,
                "minProperties" : 9,
                "required" : [ "approvalActions", "attachmentActions", "commentActions", "fieldUpdate", "manualDraft", "onChatComplete", "onRemoteAssist", "resolutionActions", "sendReply" ],
                "properties" : {
                  "fieldUpdate" : { },
                  "onRemoteAssist" : { },
                  "onChatComplete" : { },
                  "commentActions" : { },
                  "approvalActions" : { },
                  "sendReply" : { },
                  "manualDraft" : { },
                  "resolutionActions" : { },
                  "attachmentActions" : { }
                },
                "additionalProperties" : { }
              },
              "isReviewTime" : { },
              "isAutoPause" : { },
              "isHideTimeTracking" : { },
              "isAutoTimer" : { }
            },
            "additionalProperties" : { }
          },
          "billingType" : {
            "description" : "Type of billing configured. Values supported are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ and @SPECIFIC_COST_PER_PROFILE@ ",
            "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE", null ]
          },
          "activityPreference" : {
            "maxProperties" : 4,
            "minProperties" : 4,
            "required" : [ "canAutoTrackCalls", "isEventsEnabled", "isTasksEnabled", "trackMode" ],
            "properties" : {
              "isTasksEnabled" : { },
              "isEventsEnabled" : { },
              "canAutoTrackCalls" : { },
              "trackMode" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "CONSECUTIVE", "CONCURRENT" ]
              }
            },
            "additionalProperties" : { }
          },
          "fixedCost" : {
            "format" : "double",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Cost fixed for either billing category - by ticket or by agent.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "profiles" : {
            "additionalProperties" : { }
          },
          "depId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "ID of the department in which time tracking must be enabled or disabled.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "isTimeTracking" : {
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Time tracking refers to the process of recording the time agents take to resolve tickets. This information can be recorded manually or automatically, based on your organization's requirement and preference. APIs related to this endpoint help you configure the settings for automated time tracking.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "isBillable" : {
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Key that returns if the time tracked is billable or not.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "agents" : {
            "additionalProperties" : { }
          }
        },
        "additionalProperties" : { }
      },
      "getBillingTypeChangedHistory" : {
        "required" : [ "modifiedBy", "modifiedTime", "name", "newValue", "oldValue" ],
        "properties" : {
          "newValue" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE" ]
          },
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "FIXED_COST_ENTERED", "BILLING_TYPE_CHANGED", "BILLING_PREFERENCE_DISABLED", "BILLING_PREFERENCE_ENABLED", "FIXED_COST_EDITED", "BILLING_TYPE_SELECTED", "AGENT_ADDED", "AGENT_COST_EDITED", "AGENT_DELETED", "PROFILE_ADDED", "PROFILE_COST_EDITED", "PROFILE_DELETED" ]
          },
          "modifiedBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "oldValue" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE" ]
          }
        },
        "additionalProperties" : { }
      },
      "getBillingPreferenceEnabledHistory" : {
        "required" : [ "modifiedBy", "modifiedTime", "name" ],
        "properties" : {
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "FIXED_COST_ENTERED", "BILLING_TYPE_CHANGED", "BILLING_PREFERENCE_DISABLED", "BILLING_PREFERENCE_ENABLED", "FIXED_COST_EDITED", "BILLING_TYPE_SELECTED", "AGENT_ADDED", "AGENT_COST_EDITED", "AGENT_DELETED", "PROFILE_ADDED", "PROFILE_COST_EDITED", "PROFILE_DELETED" ]
          },
          "modifiedBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "getFixedCostEditedHistory" : {
        "required" : [ "modifiedBy", "modifiedTime", "name", "newValue", "oldValue" ],
        "properties" : {
          "newValue" : {
            "format" : "double"
          },
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "FIXED_COST_ENTERED", "BILLING_TYPE_CHANGED", "BILLING_PREFERENCE_DISABLED", "BILLING_PREFERENCE_ENABLED", "FIXED_COST_EDITED", "BILLING_TYPE_SELECTED", "AGENT_ADDED", "AGENT_COST_EDITED", "AGENT_DELETED", "PROFILE_ADDED", "PROFILE_COST_EDITED", "PROFILE_DELETED" ]
          },
          "modifiedBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "oldValue" : {
            "format" : "double"
          }
        },
        "additionalProperties" : { }
      },
      "data" : {
        "items" : {
          "oneOf" : [ {
            "required" : [ "modifiedBy", "modifiedTime", "name", "newValue", "oldValue" ],
            "properties" : {
              "newValue" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE" ]
              },
              "modifiedTime" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "FIXED_COST_ENTERED", "BILLING_TYPE_CHANGED", "BILLING_PREFERENCE_DISABLED", "BILLING_PREFERENCE_ENABLED", "FIXED_COST_EDITED", "BILLING_TYPE_SELECTED", "AGENT_ADDED", "AGENT_COST_EDITED", "AGENT_DELETED", "PROFILE_ADDED", "PROFILE_COST_EDITED", "PROFILE_DELETED" ]
              },
              "modifiedBy" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "oldValue" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE" ]
              }
            },
            "additionalProperties" : false
          }, {
            "required" : [ "modifiedBy", "modifiedTime", "name" ],
            "properties" : {
              "modifiedTime" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "FIXED_COST_ENTERED", "BILLING_TYPE_CHANGED", "BILLING_PREFERENCE_DISABLED", "BILLING_PREFERENCE_ENABLED", "FIXED_COST_EDITED", "BILLING_TYPE_SELECTED", "AGENT_ADDED", "AGENT_COST_EDITED", "AGENT_DELETED", "PROFILE_ADDED", "PROFILE_COST_EDITED", "PROFILE_DELETED" ]
              },
              "modifiedBy" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }, {
            "required" : [ "modifiedBy", "modifiedTime", "name", "newValue", "oldValue" ],
            "properties" : {
              "newValue" : {
                "format" : "double"
              },
              "modifiedTime" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "FIXED_COST_ENTERED", "BILLING_TYPE_CHANGED", "BILLING_PREFERENCE_DISABLED", "BILLING_PREFERENCE_ENABLED", "FIXED_COST_EDITED", "BILLING_TYPE_SELECTED", "AGENT_ADDED", "AGENT_COST_EDITED", "AGENT_DELETED", "PROFILE_ADDED", "PROFILE_COST_EDITED", "PROFILE_DELETED" ]
              },
              "modifiedBy" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "oldValue" : {
                "format" : "double"
              }
            },
            "additionalProperties" : false
          } ]
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getTimeTrackingJson" : {
        "description" : "getTimeTrackingJson template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "activityPreference", "agents", "billingType", "depId", "fixedCost", "isBillable", "isTimeTracking", "profiles", "ticketPreference" ],
                "properties" : {
                  "ticketPreference" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "autoTrackAction", "isAutoPause", "isAutoTimer", "isHideTimeTracking", "isReviewTime" ],
                    "properties" : {
                      "autoTrackAction" : {
                        "maxProperties" : 9,
                        "minProperties" : 9,
                        "required" : [ "approvalActions", "attachmentActions", "commentActions", "fieldUpdate", "manualDraft", "onChatComplete", "onRemoteAssist", "resolutionActions", "sendReply" ],
                        "properties" : {
                          "fieldUpdate" : { },
                          "onRemoteAssist" : { },
                          "onChatComplete" : { },
                          "commentActions" : { },
                          "approvalActions" : { },
                          "sendReply" : { },
                          "manualDraft" : { },
                          "resolutionActions" : { },
                          "attachmentActions" : { }
                        },
                        "additionalProperties" : false
                      },
                      "isReviewTime" : { },
                      "isAutoPause" : { },
                      "isHideTimeTracking" : { },
                      "isAutoTimer" : { }
                    },
                    "additionalProperties" : false
                  },
                  "billingType" : {
                    "description" : "Type of billing configured. Values supported are @FIXED_COST_FOR_TICKETS@ @FIXED_COST_FOR_AGENTS@ @SPECIFIC_COST_PER_AGENT@ and @SPECIFIC_COST_PER_PROFILE@ ",
                    "enum" : [ "FIXED_COST_FOR_TICKETS", "FIXED_COST_FOR_AGENTS", "SPECIFIC_COST_PER_AGENT", "SPECIFIC_COST_PER_PROFILE", null ]
                  },
                  "activityPreference" : {
                    "maxProperties" : 4,
                    "minProperties" : 4,
                    "required" : [ "canAutoTrackCalls", "isEventsEnabled", "isTasksEnabled", "trackMode" ],
                    "properties" : {
                      "isTasksEnabled" : { },
                      "isEventsEnabled" : { },
                      "canAutoTrackCalls" : { },
                      "trackMode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "CONSECUTIVE", "CONCURRENT" ]
                      }
                    },
                    "additionalProperties" : false
                  },
                  "fixedCost" : {
                    "format" : "double",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Cost fixed for either billing category - by ticket or by agent.",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
[...]
