{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Webhook",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "integration"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/webhooks" : {
      "get" : {
        "tags" : [ "Webhook" ],
        "summary" : "Get Webhooks",
        "description" : "This API lists all webhooks configured in your help desk.",
        "operationId" : "getWebhooks",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed value is : extension To get details of extension associated to an extension webhook.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed value is : extension To get details of extension associated to an extension webhook.",
            "enum" : [ "extension" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Include"
            },
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "webhookGetALLresponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "extension" : {
                              "maxProperties" : 10,
                              "minProperties" : 10,
                              "required" : [ "extensionName", "hashkey", "installationId", "isChannelApp", "isPermissionsEnabled", "isPrivate", "latestVersion", "uuId", "version", "widgets" ],
                              "properties" : {
                                "extensionName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "hashkey" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9]+$"
                                },
                                "isPermissionsEnabled" : { },
                                "latestVersion" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "\\d+(\\.\\d{1,2})?"
                                },
                                "installationId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isPrivate" : { },
                                "isChannelApp" : { },
                                "widgets" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 5,
                                    "minProperties" : 5,
                                    "required" : [ "icon", "location", "logo", "name", "url" ],
                                    "properties" : {
                                      "icon" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "logo" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "location" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "desk.ticket.detail.rightpanel", "desk.ticket.detail.subtab", "desk.bottomband", "desk.background", "desk.topband", "desk.task.detail.rightpanel", "desk.extension.preference", "desk.ticket.detail.lefttab", "desk.contact.detail.lefttab", "desk.account.detail.lefttab", "desk.ticket.detail.moreaction", "desk.ticket.thread.moreaction", "desk.ticket.form.rightpanel", "desk.contact.form.rightpanel", "desk.account.form.rightpanel", "desk.extension.telephony", "desk.contact.detail.subtab", "desk.account.detail.subtab", "desk.contact.detail.rightpanel", "desk.account.detail.rightpanel", "helpcenter.ticket.list", "helpcenter.ticket.detail", "helpcenter.ticket.form", "helpcenter.homepage", "helpcenter.kb.homepage", "helpcenter.kb.article.list", "helpcenter.kb.article.detail", "helpcenter.community.homepage", "helpcenter.community.topic.list", "helpcenter.community.topic.detail", "desk.kb.article.detail.subtab" ]
                                      },
                                      "url" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : { }
                                  }
                                },
                                "uuId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[A-z0-9_.,@:\\-\\s/]*$"
                                },
                                "version" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "\\d+(\\.\\d{1,2})?"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : { },
                          "allOf" : [ {
                            "required" : [ "description", "ignoreSourceId", "includeEventsFrom", "isEnabled", "name", "subscriptions", "url" ],
                            "properties" : {
                              "subscriptions" : {
                                "properties" : {
                                  "Account_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "Event_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "Article_Translation_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "Article_Translation_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "Ticket_Attachment_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "Ticket_Attachment_Update" : {
                                    "additionalProperties" : false
                                  },
                                  "Event_Update" : {
                                    "maxProperties" : 2,
                                    "minProperties" : 2,
                                    "required" : [ "departmentIds", "includePrevState" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      },
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Agent_Presence_Update" : {
                                    "additionalProperties" : false
                                  },
                                  "Ticket_Update" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "departmentIds", "fields", "includePrevState" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      },
                                      "fields" : {
                                        "maxItems" : 5,
                                        "minItems" : 0,
                                        "uniqueItems" : false,
                                        "items" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                        }
                                      },
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Contact_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "Ticket_Comment_Update" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "departmentIds" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Task_Add" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "departmentIds" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Ticket_Add" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "departmentIds" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Task_Update" : {
                                    "maxProperties" : 2,
                                    "minProperties" : 2,
                                    "required" : [ "departmentIds", "includePrevState" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      },
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Task_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "KBRootCategory_Update" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "includePrevState" ],
                                    "properties" : {
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Call_Add" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "departmentIds" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Article_Update" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "includePrevState" ],
                                    "properties" : {
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "KBRootCategory_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "Article_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "KBRootCategory_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "Agent_Update" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "includePrevState" ],
                                    "properties" : {
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Department_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "Contact_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "KBSection_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "Agent_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "KBSection_Update" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "includePrevState" ],
                                    "properties" : {
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Account_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "Event_Add" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "departmentIds" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Call_Update" : {
                                    "maxProperties" : 2,
                                    "minProperties" : 2,
                                    "required" : [ "departmentIds", "includePrevState" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      },
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Call_Delete" : {
                                    "additionalProperties" : false
                                  },
                                  "Article_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "Ticket_Comment_Add" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "departmentIds" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "KBSection_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "Contact_Update" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "includePrevState" ],
                                    "properties" : {
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Agent_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "Account_Update" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "includePrevState" ],
                                    "properties" : {
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Article_Feedback_Add" : {
                                    "additionalProperties" : false
                                  },
                                  "IM_Message_Add" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "departmentIds" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "IM_Message_Status" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "departmentIds" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Article_Translation_Update" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "includePrevState" ],
                                    "properties" : {
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Department_Update" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "includePrevState" ],
                                    "properties" : {
                                      "includePrevState" : { }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Ticket_Thread_Add" : {
                                    "maxProperties" : 2,
                                    "minProperties" : 2,
                                    "required" : [ "departmentIds", "direction" ],
                                    "properties" : {
                                      "departmentIds" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      },
                                      "direction" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "in", "out" ]
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "Ticket_Delete" : {
                                    "additionalProperties" : false
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "includeEventsFrom" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(AUTOMATION)"
                                }
                              },
                              "isEnabled" : { },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "description" : {
                                "maxLength" : 3000,
                                "minLength" : 0
                              },
                              "ignoreSourceId" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$|^$"
                              },
                              "url" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "createdBy", "createdTime", "id", "modifiedTime", "type" ],
                            "properties" : {
                              "modifiedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "createdBy" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "CUSTOMER_WEBHOOK", "EXTENSION_WEBHOOK" ]
                              }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1528130625304,
                        "subscriptions" : {
                          "Account_Add" : null,
                          "Contact_Update" : null,
                          "Account_Update" : null,
                          "Ticket_Update" : {
                            "departmentIds" : [ "1234567890", "1234567891" ]
                          },
                          "Ticket_Add" : {
                            "departmentIds" : [ "1234567891", "1234567895" ]
                          },
                          "Ticket_Comment_Add" : {
                            "departmentIds" : [ "1234567890" ]
                          },
                          "Ticket_Thread_Add" : {
                            "departmentIds" : [ "1234567890" ]
                          },
                          "Contact_Add" : null
                        },
                        "includeEventsFrom" : [ "AUTOMATION" ],
                        "createdBy" : "100000002344",
                        "isEnabled" : false,
                        "name" : "Test webhook",
                        "createdTime" : 1528128140737,
                        "description" : "This webhook listen to ticket events",
                        "ignoreSourceId" : "49ad222a-f812-11e7-8c3f-9a214cf093ae",
                        "id" : "1234567800",
                        "type" : "CUSTOMER_WEBHOOK",
                        "url" : "www.demoServer.com/webhookTest"
                      }, {
                        "modifiedTime" : 1528130625304,
                        "subscriptions" : {
                          "Ticket_Update" : {
                            "departmentIds" : [ "1234567890", "1234567895" ]
                          },
                          "Ticket_Add" : {
                            "departmentIds" : [ "1234567891", "1234567895" ]
                          }
                        },
                        "createdBy" : "100000002344",
                        "isEnabled" : true,
                        "name" : "Test webhook",
                        "createdTime" : 1528128140737,
                        "description" : "This webhook handles desk events and trigger actions in google extension ",
                        "ignoreSourceId" : "49ad222a-f812-11e7-8c3f-9a204cf194bf",
                        "id" : "1234567801",
                        "type" : "EXTENSION_WEBHOOK",
                        "url" : "www.demoServer2.com/webhookTest"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.events.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "8e857df5b3ca3f08ec39cf6f32712fc8",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.WebhookService.getWebhooks"
        }
      },
      "post" : {
        "tags" : [ "Webhook" ],
        "summary" : "Create webhook",
        "description" : "This API creates a webhook in your help desk. When the API is invoked, a validation GET request is sent to the subscription URL. That subscription end-point must return a 200 OK message to confirm the subscription. If the 200 OK message is not received, a validation POST request is initiated to the subscription URL. Failure to receive a 200 OK message will result in the failure of webhook creation.",
        "operationId" : "createWebhook",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "subscriptions", "url" ],
                "properties" : {
                  "subscriptions" : {
                    "properties" : {
                      "Account_Add" : {
                        "additionalProperties" : false
                      },
                      "Event_Delete" : {
                        "additionalProperties" : false
                      },
                      "Article_Translation_Add" : {
                        "additionalProperties" : false
                      },
                      "Article_Translation_Delete" : {
                        "additionalProperties" : false
                      },
                      "Ticket_Attachment_Add" : {
                        "additionalProperties" : false
                      },
                      "Ticket_Attachment_Update" : {
                        "additionalProperties" : false
                      },
                      "Event_Update" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "departmentIds", "includePrevState" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Agent_Presence_Update" : {
                        "additionalProperties" : false
                      },
                      "Ticket_Update" : {
                        "maxProperties" : 3,
                        "minProperties" : 3,
                        "required" : [ "departmentIds", "fields", "includePrevState" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "fields" : {
                            "maxItems" : 5,
                            "minItems" : 0,
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Contact_Delete" : {
                        "additionalProperties" : false
                      },
                      "Ticket_Comment_Update" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "departmentIds" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "Task_Add" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "departmentIds" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "Ticket_Add" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "departmentIds" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "Task_Update" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "departmentIds", "includePrevState" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Task_Delete" : {
                        "additionalProperties" : false
                      },
                      "KBRootCategory_Update" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "includePrevState" ],
                        "properties" : {
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Call_Add" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "departmentIds" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "Article_Update" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "includePrevState" ],
                        "properties" : {
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "KBRootCategory_Delete" : {
                        "additionalProperties" : false
                      },
                      "Article_Delete" : {
                        "additionalProperties" : false
                      },
                      "KBRootCategory_Add" : {
                        "additionalProperties" : false
                      },
                      "Agent_Update" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "includePrevState" ],
                        "properties" : {
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Department_Add" : {
                        "additionalProperties" : false
                      },
                      "Contact_Add" : {
                        "additionalProperties" : false
                      },
                      "KBSection_Delete" : {
                        "additionalProperties" : false
                      },
                      "Agent_Delete" : {
                        "additionalProperties" : false
                      },
                      "KBSection_Update" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "includePrevState" ],
                        "properties" : {
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Account_Delete" : {
                        "additionalProperties" : false
                      },
                      "Event_Add" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "departmentIds" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "Call_Update" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "departmentIds", "includePrevState" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Call_Delete" : {
                        "additionalProperties" : false
                      },
                      "Article_Add" : {
                        "additionalProperties" : false
                      },
                      "Ticket_Comment_Add" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "departmentIds" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "KBSection_Add" : {
                        "additionalProperties" : false
                      },
                      "Contact_Update" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "includePrevState" ],
                        "properties" : {
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Agent_Add" : {
                        "additionalProperties" : false
                      },
                      "Account_Update" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "includePrevState" ],
                        "properties" : {
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Article_Feedback_Add" : {
                        "additionalProperties" : false
                      },
                      "IM_Message_Add" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "departmentIds" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "IM_Message_Status" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "departmentIds" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "Article_Translation_Update" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "includePrevState" ],
                        "properties" : {
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Department_Update" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "includePrevState" ],
                        "properties" : {
                          "includePrevState" : { }
                        },
                        "additionalProperties" : false
                      },
                      "Ticket_Thread_Add" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "departmentIds", "direction" ],
                        "properties" : {
                          "departmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "direction" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "in", "out" ]
                          }
                        },
                        "additionalProperties" : false
                      },
                      "Ticket_Delete" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  },
                  "includeEventsFrom" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(AUTOMATION)",
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "isEnabled" : { },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 3000,
                    "minLength" : 0
                  },
                  "ignoreSourceId" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$|^$"
                  },
                  "url" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "subscriptions" : {
                      "Account_Add" : null,
                      "Contact_Update" : null,
                      "Account_Update" : null,
                      "Ticket_Update" : {
                        "departmentIds" : [ "1234567890", "1234567895" ]
                      },
                      "Ticket_Add" : {
                        "departmentIds" : [ "1234567891", "1234567895" ]
                      },
                      "Ticket_Comment_Add" : {
                        "departmentIds" : [ "1234567890" ]
                      },
                      "Ticket_Thread_Add" : {
                        "departmentIds" : [ "1234567891" ]
                      },
                      "Contact_Add" : null
                    },
                    "includeEventsFrom" : [ "AUTOMATION" ],
                    "name" : "Test webhook",
                    "description" : "This webhook listen to ticket events",
                    "ignoreSourceId" : "49ad222a-f812-11e7-8c3f-9a214cf093ae",
                    "url" : "www.demoServer.com/webhookTest"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "webhookResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "description", "ignoreSourceId", "includeEventsFrom", "isEnabled", "name", "subscriptions", "url" ],
                    "properties" : {
                      "subscriptions" : {
                        "properties" : {
                          "Account_Add" : {
                            "additionalProperties" : false
                          },
                          "Event_Delete" : {
                            "additionalProperties" : false
                          },
                          "Article_Translation_Add" : {
                            "additionalProperties" : false
                          },
                          "Article_Translation_Delete" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Attachment_Add" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Attachment_Update" : {
                            "additionalProperties" : false
                          },
                          "Event_Update" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "departmentIds", "includePrevState" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Agent_Presence_Update" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Update" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "departmentIds", "fields", "includePrevState" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "fields" : {
                                "maxItems" : 5,
                                "minItems" : 0,
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Contact_Delete" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Comment_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Task_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Ticket_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Task_Update" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "departmentIds", "includePrevState" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Task_Delete" : {
                            "additionalProperties" : false
                          },
                          "KBRootCategory_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Call_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Article_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "KBRootCategory_Delete" : {
                            "additionalProperties" : false
                          },
                          "Article_Delete" : {
                            "additionalProperties" : false
                          },
                          "KBRootCategory_Add" : {
                            "additionalProperties" : false
                          },
                          "Agent_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Department_Add" : {
                            "additionalProperties" : false
                          },
                          "Contact_Add" : {
                            "additionalProperties" : false
                          },
                          "KBSection_Delete" : {
                            "additionalProperties" : false
                          },
                          "Agent_Delete" : {
                            "additionalProperties" : false
                          },
                          "KBSection_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Account_Delete" : {
                            "additionalProperties" : false
                          },
                          "Event_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Call_Update" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "departmentIds", "includePrevState" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Call_Delete" : {
                            "additionalProperties" : false
                          },
                          "Article_Add" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Comment_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "KBSection_Add" : {
                            "additionalProperties" : false
                          },
                          "Contact_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Agent_Add" : {
                            "additionalProperties" : false
                          },
                          "Account_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Article_Feedback_Add" : {
                            "additionalProperties" : false
                          },
                          "IM_Message_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "IM_Message_Status" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Article_Translation_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Department_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Ticket_Thread_Add" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "departmentIds", "direction" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "direction" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "in", "out" ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Ticket_Delete" : {
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      },
                      "includeEventsFrom" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(AUTOMATION)"
                        }
                      },
                      "isEnabled" : { },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "description" : {
                        "maxLength" : 3000,
                        "minLength" : 0
                      },
                      "ignoreSourceId" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$|^$"
                      },
                      "url" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "createdBy", "createdTime", "id", "modifiedTime", "type" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time of modifying the webhook",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of user who created the webhook",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time of creating the webhook",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the webhook",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "CUSTOMER_WEBHOOK", "EXTENSION_WEBHOOK" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Indicate the type of the webhook.Available webhook types are: @CUSTOMER_WEBHOOK@ and @EXTENSION_WEBHOOK@",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE", "Desk.events.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "bf6d2555904e3d92c3fd0aeee8cfcf1e",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.WebhookService.addWebhook"
        }
      }
    },
    "/api/v1/webhooks/{webhookId}" : {
      "get" : {
        "tags" : [ "Webhook" ],
        "summary" : "Get webhook",
        "description" : "This API fetches a single webhook from your help desk.",
        "operationId" : "getWebhook",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed value is : extension To get details of extension associated to an extension webhook.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed value is : extension To get details of extension associated to an extension webhook.",
            "enum" : [ "extension" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Include"
            },
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "webhookId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "webhookResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "description", "ignoreSourceId", "includeEventsFrom", "isEnabled", "name", "subscriptions", "url" ],
                    "properties" : {
                      "subscriptions" : {
                        "properties" : {
                          "Account_Add" : {
                            "additionalProperties" : false
                          },
                          "Event_Delete" : {
                            "additionalProperties" : false
                          },
                          "Article_Translation_Add" : {
                            "additionalProperties" : false
                          },
                          "Article_Translation_Delete" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Attachment_Add" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Attachment_Update" : {
                            "additionalProperties" : false
                          },
                          "Event_Update" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "departmentIds", "includePrevState" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Agent_Presence_Update" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Update" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "departmentIds", "fields", "includePrevState" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "fields" : {
                                "maxItems" : 5,
                                "minItems" : 0,
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Contact_Delete" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Comment_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Task_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Ticket_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Task_Update" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "departmentIds", "includePrevState" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Task_Delete" : {
                            "additionalProperties" : false
                          },
                          "KBRootCategory_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Call_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Article_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "KBRootCategory_Delete" : {
                            "additionalProperties" : false
                          },
                          "Article_Delete" : {
                            "additionalProperties" : false
                          },
                          "KBRootCategory_Add" : {
                            "additionalProperties" : false
                          },
                          "Agent_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Department_Add" : {
                            "additionalProperties" : false
                          },
                          "Contact_Add" : {
                            "additionalProperties" : false
                          },
                          "KBSection_Delete" : {
                            "additionalProperties" : false
                          },
                          "Agent_Delete" : {
                            "additionalProperties" : false
                          },
                          "KBSection_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Account_Delete" : {
                            "additionalProperties" : false
                          },
                          "Event_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Call_Update" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "departmentIds", "includePrevState" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Call_Delete" : {
                            "additionalProperties" : false
                          },
                          "Article_Add" : {
                            "additionalProperties" : false
                          },
                          "Ticket_Comment_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "KBSection_Add" : {
                            "additionalProperties" : false
                          },
                          "Contact_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Agent_Add" : {
                            "additionalProperties" : false
                          },
                          "Account_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Article_Feedback_Add" : {
                            "additionalProperties" : false
                          },
                          "IM_Message_Add" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "IM_Message_Status" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "departmentIds" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "Article_Translation_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Department_Update" : {
                            "maxProperties" : 1,
                            "minProperties" : 1,
                            "required" : [ "includePrevState" ],
                            "properties" : {
                              "includePrevState" : { }
                            },
                            "additionalProperties" : false
                          },
                          "Ticket_Thread_Add" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "departmentIds", "direction" ],
                            "properties" : {
                              "departmentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "direction" : {
                                "maxLength" : 100,
                                "minLength" : 0,
[...]
