{
  "openapi": "3.1.0",
  "info": {
    "title": "Workflow",
    "version": "1.0.0",
    "x-clan-group": "automation",
    "x-module-group": "automation"
  },
  "servers": [
    {
      "url": "https://desk.zoho.com"
    }
  ],
  "paths": {
    "/api/v1/workflows": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "List all workflows",
        "description": "This API fetches workflow rules for a department with optional module and status filters.",
        "operationId": "getWorkflows",
        "parameters": [
          {
            "name": "departmentId",
            "in": "query",
            "description": "Department under which rules are created",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "description": "Department under which rules are created",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the workflow rules must be listed",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Pagination start index, default is 1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of workflow rules to list. Minimum 1, maximum 50, default is 50",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Page size, default is 50"
            }
          },
          {
            "name": "module",
            "in": "query",
            "description": "Module API name filter. Standard modules: tickets, tasks, products, accounts, contacts, timeEntry. Custom modules use a cm_ prefix.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "description": "Workflow module API name. Standard modules: tickets, tasks, products, accounts, contacts, timeEntry. Custom modules use a cm_ prefix followed by alphanumeric or underscore characters."
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Workflow status filter. Allowed values: ACTIVE, INACTIVE",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Workflow status filter",
              "enum": [
                "ACTIVE",
                "INACTIVE"
              ]
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Unique ID of the organization",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-custom-parameters-attributes": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflow rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of workflow rules",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Workflow rule identifier",
                            "format": "int64"
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 100,
                            "minLength": 0,
                            "description": "Workflow name"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 255,
                            "minLength": 0,
                            "description": "Workflow description"
                          },
                          "departmentId": {
                            "type": "integer",
                            "description": "Department identifier of the workflow",
                            "format": "int64"
                          },
                          "module": {
                            "type": "string",
                            "maxLength": 100,
                            "minLength": 0,
                            "description": "Workflow module API name"
                          },
                          "status": {
                            "type": "string",
                            "maxLength": 20,
                            "minLength": 0,
                            "description": "Workflow status"
                          },
                          "executeOn": {
                            "type": "object",
                            "required": [
                              "events"
                            ],
                            "properties": {
                              "events": {
                                "type": "array",
                                "maxItems": 12,
                                "minItems": 1,
                                "description": "Workflow execute-on events. Allowed values: CREATE, EDIT, CUSTOMER_REPLY, AGENT_RESPONSE, PRIVATE_INCOMING, PRIVATE_OUTGOING, AGENT_PUBLIC_COMMENT_ADD, AGENT_PRIVATE_COMMENT_ADD, CUSTOMER_COMMENT_ADD, HAPPINESS_RATING, ENTITY_DELETE.",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "CREATE",
                                    "EDIT",
                                    "CUSTOMER_REPLY",
                                    "AGENT_RESPONSE",
                                    "PRIVATE_INCOMING",
                                    "PRIVATE_OUTGOING",
                                    "AGENT_PUBLIC_COMMENT_ADD",
                                    "AGENT_PRIVATE_COMMENT_ADD",
                                    "CUSTOMER_COMMENT_ADD",
                                    "HAPPINESS_RATING",
                                    "ENTITY_DELETE"
                                  ]
                                }
                              },
                              "triggerFieldInfo": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "Trigger field match type when EDIT event is used",
                                    "enum": [
                                      "ANY",
                                      "ALL"
                                    ]
                                  },
                                  "fieldIds": {
                                    "type": "array",
                                    "maxItems": 3,
                                    "description": "Trigger field identifiers for field-update execute-on",
                                    "items": {
                                      "description": "Field identifier"
                                    }
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Trigger field details when EDIT event is included. Null when field-scoped EDIT is not configured."
                              },
                              "happinessRatingOption": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "maxLength": 20,
                                "description": "Required when events contains HAPPINESS_RATING. Allowed values: ALL, GOOD, OKAY, BAD, OKAY_OR_BAD.",
                                "enum": [
                                  "ALL",
                                  "GOOD",
                                  "OKAY",
                                  "BAD",
                                  "OKAY_OR_BAD",
                                  null
                                ]
                              }
                            },
                            "additionalProperties": false,
                            "description": "Workflow execute-on configuration"
                          },
                          "actions": {
                            "type": "array",
                            "description": "Workflow actions grouped by action type",
                            "items": {
                              "type": "object",
                              "required": [
                                "actionMappingIds",
                                "type"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Workflow action type",
                                  "enum": [
                                    "CHANGELAYOUT",
                                    "RECALCULATE",
                                    "REASSIGN",
                                    "ADDSKILLS",
                                    "REMOVESKILLS",
                                    "CUSTOMACTION",
                                    "UPDATE_RECORD",
                                    "ZIAAUTOEMAILREPLY",
                                    "ZIAGENERATE",
                                    "ZIAEXTRACT",
                                    "ZIAPREDICT",
                                    "SLACK_CHAT_ACTION",
                                    "CLIQ_CHAT_ACTION",
                                    "GOOGLE_CHAT_ACTION",
                                    "MSTEAMS_CHAT_ACTION"
                                  ]
                                },
                                "actionMappingIds": {
                                  "type": "array",
                                  "maxItems": 20,
                                  "description": "Action mapping identifiers for the workflow action type",
                                  "items": {
                                    "description": "Action mapping identifier"
                                  }
                                }
                              },
                              "additionalProperties": false,
                              "description": "Workflow action mapping specifying action type and associated IDs"
                            }
                          },
                          "automationAlertIds": {
                            "type": "array",
                            "description": "Workflow alert identifiers",
                            "items": {
                              "description": "Automation alert identifier"
                            }
                          },
                          "automationTaskIds": {
                            "type": "array",
                            "description": "Workflow task identifiers",
                            "items": {
                              "description": "Automation task identifier"
                            }
                          },
                          "automationFieldUpdateIds": {
                            "type": "array",
                            "description": "Workflow field update identifiers",
                            "items": {
                              "description": "Automation field update identifier"
                            }
                          },
                          "customFunctionIds": {
                            "type": "array",
                            "description": "Workflow custom function identifiers",
                            "items": {
                              "description": "Custom function identifier"
                            }
                          },
                          "createdBy": {
                            "type": "integer",
                            "description": "User who created the workflow",
                            "format": "int64"
                          },
                          "createdTime": {
                            "type": "string",
                            "maxLength": 30,
                            "minLength": 0,
                            "description": "Workflow creation time in ISO 8601 format"
                          },
                          "modifiedBy": {
                            "type": "integer",
                            "description": "User who last modified the workflow",
                            "format": "int64"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "maxLength": 30,
                            "minLength": 0,
                            "description": "Workflow last modification time in ISO 8601 format"
                          }
                        },
                        "additionalProperties": false,
                        "description": "Workflow rule summary item in list responses"
                      }
                    }
                  },
                  "additionalProperties": {},
                  "description": "Wrapper object containing a list of workflow rules"
                }
              }
            }
          },
          "400": {
            "description": "This errorCode value appears if the authentication token in the API request is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "UnAuthenticatedErrorResponse": {
                    "value": {
                      "errorCode": "BAD_REQUEST",
                      "message": "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This errorCode value appears if the authentication token in the API request is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "UnAuthenticatedErrorResponse": {
                    "value": {
                      "errorCode": "UNAUTHORIZED",
                      "message": "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Forbidden Error Response": {
                    "value": {
                      "errorCode": "FORBIDDEN",
                      "message": "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Url Not Found Error Response": {
                    "value": {
                      "errorCode": "URL_NOT_FOUND",
                      "message": "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Unprocessable Entity Error Response": {
                    "value": {
                      "errorCode": "UNPROCESSABLE_ENTITY",
                      "message": "The value passed for the 'from' query parameter is invalid."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Internal Server Error Response": {
                    "value": {
                      "errorCode": "INTERNAL_SERVER_ERROR",
                      "message": "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "org-oauth": [
              "Desk.accessAll.ALL"
            ]
          },
          {
            "iam-oauth2-schema": [
              "Desk.automations.READ"
            ]
          }
        ],
        "x-authorisation": {
          "profile-permission": [
            "setup.automation"
          ]
        },
        "x-audience": [
          "company-internal"
        ],
        "x-custom-url-attribute": {
          "security": {
            "oauthscope": "automations",
            "operation-type": "READ",
            "throttle": {
              "policy": "GetManyRecords_Policy"
            },
            "extraparams": {
              "disable": true,
              "ignore": false
            },
            "authentication": {}
          },
          "apihash": "5709e04836a2434f95ad0d1ec4b5bbf2",
          "clan-group": "automation",
          "module-group": "automation",
          "apimethod": "com.zoho.support.restapi.WorkflowService.getWorkflows"
        }
      },
      "post": {
        "tags": [
          "Workflow"
        ],
        "summary": "Create a workflow",
        "description": "This API creates a workflow rule in the specified department and module.",
        "operationId": "createWorkflow",
        "parameters": [
          {
            "name": "orgId",
            "in": "query",
            "description": "Unique ID of the organization",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-custom-parameters-attributes": {}
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "departmentId",
                  "executeOn",
                  "module",
                  "name",
                  "status"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Workflow name"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Workflow description"
                  },
                  "departmentId": {
                    "type": "integer",
                    "description": "Department identifier under which the workflow is created",
                    "format": "int64"
                  },
                  "module": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Workflow module to which this rule applies"
                  },
                  "status": {
                    "type": "string",
                    "description": "Workflow status. Allowed values: ACTIVE, INACTIVE.",
                    "enum": [
                      "ACTIVE",
                      "INACTIVE"
                    ]
                  },
                  "executeOn": {
                    "type": "object",
                    "required": [
                      "events"
                    ],
                    "properties": {
                      "events": {
                        "type": "array",
                        "maxItems": 12,
                        "minItems": 1,
                        "description": "Workflow execute-on events. Allowed values: CREATE, EDIT, CUSTOMER_REPLY, AGENT_RESPONSE, PRIVATE_INCOMING, PRIVATE_OUTGOING, AGENT_PUBLIC_COMMENT_ADD, AGENT_PRIVATE_COMMENT_ADD, CUSTOMER_COMMENT_ADD, HAPPINESS_RATING, ENTITY_DELETE.",
                        "items": {
                          "type": "string",
                          "enum": [
                            "CREATE",
                            "EDIT",
                            "CUSTOMER_REPLY",
                            "AGENT_RESPONSE",
                            "PRIVATE_INCOMING",
                            "PRIVATE_OUTGOING",
                            "AGENT_PUBLIC_COMMENT_ADD",
                            "AGENT_PRIVATE_COMMENT_ADD",
                            "CUSTOMER_COMMENT_ADD",
                            "HAPPINESS_RATING",
                            "ENTITY_DELETE"
                          ]
                        }
                      },
                      "triggerFieldInfo": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Trigger field match type when EDIT event is used",
                            "enum": [
                              "ANY",
                              "ALL"
                            ]
                          },
                          "fieldIds": {
                            "type": "array",
                            "maxItems": 3,
                            "description": "Trigger field identifiers for field-update execute-on",
                            "items": {
                              "description": "Field identifier"
                            }
                          }
                        },
                        "additionalProperties": false,
                        "description": "Trigger field details when EDIT event is included. Null when field-scoped EDIT is not configured."
                      },
                      "happinessRatingOption": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 20,
                        "description": "Required when events contains HAPPINESS_RATING. Allowed values: ALL, GOOD, OKAY, BAD, OKAY_OR_BAD.",
                        "enum": [
                          "ALL",
                          "GOOD",
                          "OKAY",
                          "BAD",
                          "OKAY_OR_BAD",
                          null
                        ]
                      }
                    },
                    "additionalProperties": false,
                    "description": "Workflow execute-on configuration"
                  },
                  "criteria": {
                    "type": "object",
                    "properties": {
                      "fieldConditions": {
                        "type": "array",
                        "maxItems": 25,
                        "description": "Field conditions for criteria matching",
                        "items": {
                          "type": "object",
                          "properties": {
                            "condition": {
                              "type": "string",
                              "maxLength": 250,
                              "description": "Criteria condition operator"
                            },
                            "fieldName": {
                              "type": "string",
                              "maxLength": 250,
                              "description": "Field name in criteria"
                            },
                            "fieldModule": {
                              "description": "Module of the criteria field. Null when the field could not be resolved for the workflow module.",
                              "oneOf": [
                                {
                                  "type": "string",
                                  "maxLength": 100,
                                  "description": "Workflow module API name. Standard modules: tickets, tasks, products, accounts, contacts, timeEntry. Custom modules use a cm_ prefix followed by alphanumeric or underscore characters."
                                },
                                {}
                              ]
                            },
                            "value": {
                              "type": "array",
                              "description": "Criteria comparison values",
                              "items": {
                                "description": "Criteria comparison value"
                              }
                            },
                            "displayValue": {
                              "type": "array",
                              "description": "Display values corresponding to criteria comparison values",
                              "items": {
                                "description": "Display label for a criteria value"
                              }
                            },
                            "criteriaValues": {
                              "type": "array",
                              "description": "Resolved criteria values returned in responses",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "displayValue": {
                                    "description": "Display label for the criteria value"
                                  },
                                  "value": {
                                    "description": "Stored criteria value"
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Resolved criteria value with display label"
                              }
                            },
                            "staticFieldName": {
                              "type": "string",
                              "maxLength": 250,
                              "description": "API or static field name for the criteria field. Null when unresolved."
                            },
                            "fieldType": {
                              "type": "string",
                              "maxLength": 100,
                              "description": "Data type of the criteria field. Null when unresolved."
                            },
                            "i18nLabel": {
                              "type": "string",
                              "maxLength": 250,
                              "description": "Internationalized field label"
                            },
                            "tableName": {
                              "type": "string",
                              "maxLength": 250,
                              "description": "Database table name for the criteria field"
                            },
                            "columnName": {
                              "type": "string",
                              "maxLength": 250,
                              "description": "Database column name for the criteria field"
                            }
                          },
                          "additionalProperties": false,
                          "description": "Single field condition in classic workflow criteria"
                        }
                      }
                    },
                    "additionalProperties": {},
                    "description": "Workflow criteria in classic criteria format"
                  },
                  "actions": {
                    "type": "array",
                    "maxItems": 20,
                    "description": "Workflow actions grouped by action type",
                    "items": {
                      "type": "object",
                      "required": [
                        "actionMappingIds",
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Workflow action type",
                          "enum": [
                            "CHANGELAYOUT",
                            "RECALCULATE",
                            "REASSIGN",
                            "ADDSKILLS",
                            "REMOVESKILLS",
                            "CUSTOMACTION",
                            "UPDATE_RECORD",
                            "ZIAAUTOEMAILREPLY",
                            "ZIAGENERATE",
                            "ZIAEXTRACT",
                            "ZIAPREDICT",
                            "SLACK_CHAT_ACTION",
                            "CLIQ_CHAT_ACTION",
                            "GOOGLE_CHAT_ACTION",
                            "MSTEAMS_CHAT_ACTION"
                          ]
                        },
                        "actionMappingIds": {
                          "type": "array",
                          "maxItems": 20,
                          "description": "Action mapping identifiers for the workflow action type",
                          "items": {
                            "description": "Action mapping identifier"
                          }
                        }
                      },
                      "additionalProperties": false,
                      "description": "Workflow action mapping specifying action type and associated IDs"
                    }
                  },
                  "automationAlertIds": {
                    "type": "array",
                    "maxItems": 10,
                    "description": "Workflow alert identifiers",
                    "items": {
                      "description": "Automation rule identifier"
                    }
                  },
                  "automationTaskIds": {
                    "type": "array",
                    "maxItems": 10,
                    "description": "Workflow task identifiers",
                    "items": {
                      "description": "Automation rule identifier"
                    }
                  },
                  "automationFieldUpdateIds": {
                    "type": "array",
                    "maxItems": 10,
                    "description": "Workflow field update identifiers",
                    "items": {
                      "description": "Automation rule identifier"
                    }
                  },
                  "customFunctionIds": {
                    "type": "array",
                    "maxItems": 10,
                    "description": "Workflow custom function identifiers",
                    "items": {
                      "description": "Automation rule identifier"
                    }
                  }
                },
                "additionalProperties": {},
                "description": "Request body for creating a workflow rule"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Workflow created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Workflow rule identifier",
                      "format": "int64"
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0,
                      "description": "Workflow name"
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 255,
                      "minLength": 0,
                      "description": "Workflow description"
                    },
                    "departmentId": {
                      "type": "integer",
                      "description": "Department identifier of the workflow",
                      "format": "int64"
                    },
                    "module": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0,
                      "description": "Workflow module API name"
                    },
                    "status": {
                      "type": "string",
                      "maxLength": 20,
                      "minLength": 0,
                      "description": "Workflow status"
                    },
                    "executeOn": {
                      "type": "object",
                      "required": [
                        "events"
                      ],
                      "properties": {
                        "events": {
                          "type": "array",
                          "maxItems": 12,
                          "minItems": 1,
                          "description": "Workflow execute-on events. Allowed values: CREATE, EDIT, CUSTOMER_REPLY, AGENT_RESPONSE, PRIVATE_INCOMING, PRIVATE_OUTGOING, AGENT_PUBLIC_COMMENT_ADD, AGENT_PRIVATE_COMMENT_ADD, CUSTOMER_COMMENT_ADD, HAPPINESS_RATING, ENTITY_DELETE.",
                          "items": {
                            "type": "string",
                            "enum": [
                              "CREATE",
                              "EDIT",
                              "CUSTOMER_REPLY",
                              "AGENT_RESPONSE",
                              "PRIVATE_INCOMING",
                              "PRIVATE_OUTGOING",
                              "AGENT_PUBLIC_COMMENT_ADD",
                              "AGENT_PRIVATE_COMMENT_ADD",
                              "CUSTOMER_COMMENT_ADD",
                              "HAPPINESS_RATING",
                              "ENTITY_DELETE"
                            ]
                          }
                        },
                        "triggerFieldInfo": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Trigger field match type when EDIT event is used",
                              "enum": [
                                "ANY",
                                "ALL"
                              ]
                            },
                            "fieldIds": {
                              "type": "array",
                              "maxItems": 3,
                              "description": "Trigger field identifiers for field-update execute-on",
                              "items": {
                                "description": "Field identifier"
                              }
                            }
                          },
                          "additionalProperties": false,
                          "description": "Trigger field details when EDIT event is included. Null when field-scoped EDIT is not configured."
                        },
                        "happinessRatingOption": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "maxLength": 20,
                          "description": "Required when events contains HAPPINESS_RATING. Allowed values: ALL, GOOD, OKAY, BAD, OKAY_OR_BAD.",
                          "enum": [
                            "ALL",
                            "GOOD",
                            "OKAY",
                            "BAD",
                            "OKAY_OR_BAD",
                            null
                          ]
                        }
                      },
                      "additionalProperties": false,
                      "description": "Workflow execute-on configuration"
                    },
                    "criteria": {
                      "type": "object",
                      "properties": {
                        "fieldConditions": {
                          "type": "array",
                          "maxItems": 25,
                          "description": "Field conditions for criteria matching",
                          "items": {
                            "type": "object",
                            "properties": {
                              "condition": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Criteria condition operator"
                              },
                              "fieldName": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Field name in criteria"
                              },
                              "fieldModule": {
                                "description": "Module of the criteria field. Null when the field could not be resolved for the workflow module.",
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "maxLength": 100,
                                    "description": "Workflow module API name. Standard modules: tickets, tasks, products, accounts, contacts, timeEntry. Custom modules use a cm_ prefix followed by alphanumeric or underscore characters."
                                  },
                                  {}
                                ]
                              },
                              "value": {
                                "type": "array",
                                "description": "Criteria comparison values",
                                "items": {
                                  "description": "Criteria comparison value"
                                }
                              },
                              "displayValue": {
                                "type": "array",
                                "description": "Display values corresponding to criteria comparison values",
                                "items": {
                                  "description": "Display label for a criteria value"
                                }
                              },
                              "criteriaValues": {
                                "type": "array",
                                "description": "Resolved criteria values returned in responses",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "displayValue": {
                                      "description": "Display label for the criteria value"
                                    },
                                    "value": {
                                      "description": "Stored criteria value"
                                    }
                                  },
                                  "additionalProperties": false,
                                  "description": "Resolved criteria value with display label"
                                }
                              },
                              "staticFieldName": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "API or static field name for the criteria field. Null when unresolved."
                              },
                              "fieldType": {
                                "type": "string",
                                "maxLength": 100,
                                "description": "Data type of the criteria field. Null when unresolved."
                              },
                              "i18nLabel": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Internationalized field label"
                              },
                              "tableName": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Database table name for the criteria field"
                              },
                              "columnName": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Database column name for the criteria field"
                              }
                            },
                            "additionalProperties": false,
                            "description": "Single field condition in classic workflow criteria"
                          }
                        }
                      },
                      "additionalProperties": false,
                      "description": "Workflow criteria in classic criteria format"
                    },
                    "actions": {
                      "type": "array",
                      "description": "Workflow actions grouped by action type",
                      "items": {
                        "type": "object",
                        "required": [
                          "actionMappingIds",
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Workflow action type",
                            "enum": [
                              "CHANGELAYOUT",
                              "RECALCULATE",
                              "REASSIGN",
                              "ADDSKILLS",
                              "REMOVESKILLS",
                              "CUSTOMACTION",
                              "UPDATE_RECORD",
                              "ZIAAUTOEMAILREPLY",
                              "ZIAGENERATE",
                              "ZIAEXTRACT",
                              "ZIAPREDICT",
                              "SLACK_CHAT_ACTION",
                              "CLIQ_CHAT_ACTION",
                              "GOOGLE_CHAT_ACTION",
                              "MSTEAMS_CHAT_ACTION"
                            ]
                          },
                          "actionMappingIds": {
                            "type": "array",
                            "maxItems": 20,
                            "description": "Action mapping identifiers for the workflow action type",
                            "items": {
                              "description": "Action mapping identifier"
                            }
                          }
                        },
                        "additionalProperties": false,
                        "description": "Workflow action mapping specifying action type and associated IDs"
                      }
                    },
                    "automationAlertIds": {
                      "type": "array",
                      "description": "Workflow alert identifiers",
                      "items": {
                        "description": "Automation alert identifier"
                      }
                    },
                    "automationTaskIds": {
                      "type": "array",
                      "description": "Workflow task identifiers",
                      "items": {
                        "description": "Automation task identifier"
                      }
                    },
                    "automationFieldUpdateIds": {
                      "type": "array",
                      "description": "Workflow field update identifiers",
                      "items": {
                        "description": "Automation field update identifier"
                      }
                    },
                    "customFunctionIds": {
                      "type": "array",
                      "description": "Workflow custom function identifiers",
                      "items": {
                        "description": "Custom function identifier"
                      }
                    },
                    "createdBy": {
                      "type": "integer",
                      "description": "User who created the workflow",
                      "format": "int64"
                    },
                    "createdTime": {
                      "type": "string",
                      "maxLength": 30,
                      "minLength": 0,
                      "description": "Workflow creation time in ISO 8601 format"
                    },
                    "modifiedBy": {
                      "type": "integer",
                      "description": "User who last modified the workflow",
                      "format": "int64"
                    },
                    "modifiedTime": {
                      "type": "string",
                      "maxLength": 30,
                      "minLength": 0,
                      "description": "Workflow last modification time in ISO 8601 format"
                    }
                  },
                  "additionalProperties": {},
                  "description": "Workflow rule details returned in API responses"
                }
              }
            }
          },
          "400": {
            "description": "This errorCode value appears if the authentication token in the API request is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "UnAuthenticatedErrorResponse": {
                    "value": {
                      "errorCode": "BAD_REQUEST",
                      "message": "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This errorCode value appears if the authentication token in the API request is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "UnAuthenticatedErrorResponse": {
                    "value": {
                      "errorCode": "UNAUTHORIZED",
                      "message": "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Forbidden Error Response": {
                    "value": {
                      "errorCode": "FORBIDDEN",
                      "message": "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Url Not Found Error Response": {
                    "value": {
                      "errorCode": "URL_NOT_FOUND",
                      "message": "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Unprocessable Entity Error Response": {
                    "value": {
                      "errorCode": "UNPROCESSABLE_ENTITY",
                      "message": "The value passed for the 'from' query parameter is invalid."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Internal Server Error Response": {
                    "value": {
                      "errorCode": "INTERNAL_SERVER_ERROR",
                      "message": "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "org-oauth": [
              "Desk.accessAll.ALL"
            ]
          },
          {
            "iam-oauth2-schema": [
              "Desk.automations.CREATE"
            ]
          }
        ],
        "x-authorisation": {
          "profile-permission": [
            "setup.automation"
          ]
        },
        "x-audience": [
          "company-internal"
        ],
        "x-custom-url-attribute": {
          "security": {
            "oauthscope": "automations",
            "operation-type": "CREATE",
            "throttle": {
              "policy": "AddSingleRecord_Policy"
            },
            "extraparams": {
              "disable": true,
              "ignore": false
            },
            "authentication": {}
          },
          "apihash": "6d0e3bb05df3402ba7dbec9d44f1b138",
          "clan-group": "automation",
          "module-group": "automation",
          "apimethod": "com.zoho.support.restapi.WorkflowService.createWorkflow"
        }
      }
    },
    "/api/v1/workflows/{workflowId}": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Get a workflow",
        "description": "This API fetches a workflow rule by its identifier.",
        "operationId": "getWorkflow",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "Unique identifier of the workflow rule",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the workflow rule",
              "format": "int64"
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Unique ID of the organization",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-custom-parameters-attributes": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Workflow rule identifier",
                      "format": "int64"
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0,
                      "description": "Workflow name"
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 255,
                      "minLength": 0,
                      "description": "Workflow description"
                    },
                    "departmentId": {
                      "type": "integer",
                      "description": "Department identifier of the workflow",
                      "format": "int64"
                    },
                    "module": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0,
                      "description": "Workflow module API name"
                    },
                    "status": {
                      "type": "string",
                      "maxLength": 20,
                      "minLength": 0,
                      "description": "Workflow status"
                    },
                    "executeOn": {
                      "type": "object",
                      "required": [
                        "events"
                      ],
                      "properties": {
                        "events": {
                          "type": "array",
                          "maxItems": 12,
                          "minItems": 1,
                          "description": "Workflow execute-on events. Allowed values: CREATE, EDIT, CUSTOMER_REPLY, AGENT_RESPONSE, PRIVATE_INCOMING, PRIVATE_OUTGOING, AGENT_PUBLIC_COMMENT_ADD, AGENT_PRIVATE_COMMENT_ADD, CUSTOMER_COMMENT_ADD, HAPPINESS_RATING, ENTITY_DELETE.",
                          "items": {
                            "type": "string",
                            "enum": [
                              "CREATE",
                              "EDIT",
                              "CUSTOMER_REPLY",
                              "AGENT_RESPONSE",
                              "PRIVATE_INCOMING",
                              "PRIVATE_OUTGOING",
                              "AGENT_PUBLIC_COMMENT_ADD",
                              "AGENT_PRIVATE_COMMENT_ADD",
                              "CUSTOMER_COMMENT_ADD",
                              "HAPPINESS_RATING",
                              "ENTITY_DELETE"
                            ]
                          }
                        },
                        "triggerFieldInfo": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Trigger field match type when EDIT event is used",
                              "enum": [
                                "ANY",
                                "ALL"
                              ]
                            },
                            "fieldIds": {
                              "type": "array",
                              "maxItems": 3,
                              "description": "Trigger field identifiers for field-update execute-on",
                              "items": {
                                "description": "Field identifier"
                              }
                            }
                          },
                          "additionalProperties": false,
                          "description": "Trigger field details when EDIT event is included. Null when field-scoped EDIT is not configured."
                        },
                        "happinessRatingOption": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "maxLength": 20,
                          "description": "Required when events contains HAPPINESS_RATING. Allowed values: ALL, GOOD, OKAY, BAD, OKAY_OR_BAD.",
                          "enum": [
                            "ALL",
                            "GOOD",
                            "OKAY",
                            "BAD",
                            "OKAY_OR_BAD",
                            null
                          ]
                        }
                      },
                      "additionalProperties": false,
                      "description": "Workflow execute-on configuration"
                    },
                    "criteria": {
                      "type": "object",
                      "properties": {
                        "fieldConditions": {
                          "type": "array",
                          "maxItems": 25,
                          "description": "Field conditions for criteria matching",
                          "items": {
                            "type": "object",
                            "properties": {
                              "condition": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Criteria condition operator"
                              },
                              "fieldName": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Field name in criteria"
                              },
                              "fieldModule": {
                                "description": "Module of the criteria field. Null when the field could not be resolved for the workflow module.",
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "maxLength": 100,
                                    "description": "Workflow module API name. Standard modules: tickets, tasks, products, accounts, contacts, timeEntry. Custom modules use a cm_ prefix followed by alphanumeric or underscore characters."
                                  },
                                  {}
                                ]
                              },
                              "value": {
                                "type": "array",
                                "description": "Criteria comparison values",
                                "items": {
                                  "description": "Criteria comparison value"
                                }
                              },
                              "displayValue": {
                                "type": "array",
                                "description": "Display values corresponding to criteria comparison values",
                                "items": {
                                  "description": "Display label for a criteria value"
                                }
                              },
                              "criteriaValues": {
                                "type": "array",
                                "description": "Resolved criteria values returned in responses",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "displayValue": {
                                      "description": "Display label for the criteria value"
                                    },
                                    "value": {
                                      "description": "Stored criteria value"
                                    }
                                  },
                                  "additionalProperties": false,
                                  "description": "Resolved criteria value with display label"
                                }
                              },
                              "staticFieldName": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "API or static field name for the criteria field. Null when unresolved."
                              },
                              "fieldType": {
                                "type": "string",
                                "maxLength": 100,
                                "description": "Data type of the criteria field. Null when unresolved."
                              },
                              "i18nLabel": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Internationalized field label"
                              },
                              "tableName": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Database table name for the criteria field"
                              },
                              "columnName": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "Database column name for the criteria field"
                              }
                            },
                            "additionalProperties": false,
                            "description": "Single field condition in classic workflow criteria"
                          }
                        }
                      },
                      "additionalProperties": false,
                      "description": "Workflow criteria in classic criteria format"
                    },
                    "actions": {
                      "type": "array",
                      "description": "Workflow actions grouped by action type",
                      "items": {
                        "type": "object",
                        "required": [
                          "actionMappingIds",
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Workflow action type",
                            "enum": [
                              "CHANGELAYOUT",
                              "RECALCULATE",
                              "REASSIGN",
                              "ADDSKILLS",
                              "REMOVESKILLS",
                              "CUSTOMACTION",
                              "UPDATE_RECORD",
                              "ZIAAUTOEMAILREPLY",
                              "ZIAGENERATE",
                              "ZIAEXTRACT",
                              "ZIAPREDICT",
                              "SLACK_CHAT_ACTION",
                              "CLIQ_CHAT_ACTION",
                              "GOOGLE_CHAT_ACTION",
                              "MSTEAMS_CHAT_ACTION"
                            ]
                          },
                          "actionMappingIds": {
                            "type": "array",
                            "maxItems": 20,
                            "description": "Action mapping identifiers for the workflow action type",
                            "items": {
                              "description": "Action mapping identifier"
                            }
                          }
                        },
                        "additionalProperties": false,
                        "description": "Workflow action mapping specifying action type and associated IDs"
                      }
                    },
                    "automationAlertIds": {
                      "type": "array",
                      "description": "Workflow alert identifiers",
                      "items": {
                        "description": "Automation alert identifier"
                      }
                    },
                    "automationTaskIds": {
                      "type": "array",
                      "description": "Workflow task identifiers",
                      "items": {
                        "description": "Automation task identifier"
                      }
                    },
                    "automationFieldUpdateIds": {
                      "type": "array",
                      "description": "Workflow field update identifiers",
                      "items": {
                        "description": "Automation field update identifier"
                      }
                    },
                    "customFunctionIds": {
                      "type": "array",
                      "description": "Workflow custom function identifiers",
                      "items": {
                        "description": "Custom function identifier"
                      }
                    },
                    "createdBy": {
                      "type": "integer",
                      "description": "User who created the workflow",
                      "format": "int64"
                    },
                    "createdTime": {
                      "type": "string",
                      "maxLength": 30,
                      "minLength": 0,
                      "description": "Workflow creation time in ISO 8601 format"
                    },
                    "modifiedBy": {
                      "type": "integer",
                      "description": "User who last modified the workflow",
                      "format": "int64"
                    },
                    "modifiedTime": {
                      "type": "string",
                      "maxLength": 30,
                      "minLength": 0,
                      "description": "Workflow last modification time in ISO 8601 format"
                    }
                  },
                  "additionalProperties": false,
                  "description": "Workflow rule details returned in API responses"
                }
              }
            }
          },
          "400": {
            "description": "This errorCode value appears if the authentication token in the API request is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "UnAuthenticatedErrorResponse": {
                    "value": {
                      "errorCode": "BAD_REQUEST",
                      "message": "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This errorCode value appears if the authentication token in the API request is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "UnAuthenticatedErrorResponse": {
                    "value": {
                      "errorCode": "UNAUTHORIZED",
                      "message": "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Forbidden Error Response": {
                    "value": {
                      "errorCode": "FORBIDDEN",
                      "message": "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Url Not Found Error Response": {
                    "value": {
                      "errorCode": "URL_NOT_FOUND",
                      "message": "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "errorCode",
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "errorCode": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "UNAUTHORIZED",
                            "INVALID_OAUTH",
                            "SCOPE_MISMATCH",
                            "OAUTH_ORG_MISMATCH",
                            "FORBIDDEN",
                            "LICENSE_ACCESS_LIMITED",
                            "URL_NOT_FOUND",
                            "METHOD_NOT_ALLOWED",
                            "RESOURCE_SIZE_EXCEEDED",
                            "UNSUPPORTED_MEDIA_TYPE",
                            "INVALID_DATA",
                            "EMPTY_PAYLOAD",
                            "UNPROCESSABLE_ENTITY",
                            "ONLY_LIVECHAT_USER",
                            "DUPLICATE_CONTRACT",
                            "INTEGRATION_ADMIN_ERROR",
                            "THRESHOLD_EXCEEDED",
                            "TOO_MANY_REQUESTS",
                            "INTERNAL_SERVER_ERROR"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "errors"
                      ],
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "errorMessage",
                              "errorType",
                              "fieldName"
                            ],
                            "properties": {
                              "fieldName": {
                                "type": "string"
                              },
                              "errorType": {
                                "type": "string",
                                "enum": [
                                  "invalid",
                                  "duplicate",
                                  "missing"
                                ]
                              },
                              "errorMessage": {}
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "Invalid Data Error Response": {
                    "value": {
                      "errorCode": "INVALID_DATA",
                      "message": "The data does not comply to the validation restrictions defined.",
                      "errors": [
                        {
                          "fieldName": "/contactId",
                          "errorType": "invalid"
                        },
                        {
                          "fieldName": "/departmentId",
                          "errorType": "invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "Internal Server Error Response": {
                    "value": {
                      "errorCode": "INTERNAL_SERVER_ERROR",
                      "message": "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "org-oauth": [
              "Desk.accessAll.ALL"
            ]
          },
          {
            "iam-oauth2-schema": [
              "Desk.automations.READ"
            ]
          }
        ],
        "x-authorisation": {
          "profile-permission": [
            "setup.automation"
          ]
        },
        "x-audience": [
          "company-internal"
        ],
        "x-custom-url-attribute": {
          "security": {
            "oauthscope": "automations",
            "operation-type": "READ",
            "throttle": {
              "policy": "GetSingleRecord_Policy"
            },
            "extraparams": {
              "disable": true,
              "ignore": false
            },
            "authentication": {}
          },
          "apihash": "1ef691df6715486eaeb32ee710662dd5",
          "clan-group": "automation",
          "module-group": "automation",
          "apimethod": "com.zoho.support.restapi.WorkflowService.getWorkflow"
        }
      },
      "delete": {
        "tags": [
          "Workflow"
        ],
        "summary": "Delete a workflow",
        "description": "This API deletes a workflow rule by its identifier.",
        "operationId": "deleteWorkflow",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "Unique identifier of the workflow rule",
[...]
