{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Zwitch",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "import"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/zwitchServices" : {
      "get" : {
        "tags" : [ "Zwitch" ],
        "summary" : "Get Zwitch Services",
        "description" : "This API to fetch zwitch supported service details.",
        "operationId" : "zwitchServices",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "zwitchServices template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "name", "templates" ],
                        "properties" : {
                          "templates" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "authentications", "description", "fileInputs", "modules", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "fileInputs" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 2,
                                    "minProperties" : 2,
                                    "required" : [ "modules", "name" ],
                                    "properties" : {
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "modules" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "maxProperties" : 5,
                                          "minProperties" : 5,
                                          "required" : [ "apiName", "displayLabel", "order", "source", "type" ],
                                          "properties" : {
                                            "displayLabel" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            },
                                            "apiName" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            },
                                            "source" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            },
                                            "type" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            },
                                            "order" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            }
                                          },
                                          "additionalProperties" : false
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "description" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "modules" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 5,
                                    "minProperties" : 5,
                                    "required" : [ "apiName", "displayLabel", "order", "source", "type" ],
                                    "properties" : {
                                      "displayLabel" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "apiName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "source" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "order" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "authentications" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 2,
                                    "minProperties" : 2,
                                    "required" : [ "auth", "source" ],
                                    "properties" : {
                                      "auth" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "source" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "templates" : [ {
                          "name" : "xml",
                          "fileInputs" : [ {
                            "name" : "Companies",
                            "modules" : [ {
                              "displayLabel" : "Accounts",
                              "apiName" : "accounts",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "4"
                            } ]
                          }, {
                            "name" : "Tickets",
                            "modules" : [ {
                              "displayLabel" : "Threads",
                              "apiName" : "threads",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "7"
                            }, {
                              "displayLabel" : "Attachments",
                              "apiName" : "attachments",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "22"
                            }, {
                              "displayLabel" : "Cases-Comments",
                              "apiName" : "ticketComments",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "8"
                            }, {
                              "displayLabel" : "Cases",
                              "apiName" : "tickets",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "6"
                            } ]
                          }, {
                            "name" : "Users",
                            "modules" : [ {
                              "displayLabel" : "Agents",
                              "apiName" : "agents",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "1"
                            }, {
                              "displayLabel" : "Contacts",
                              "apiName" : "contacts",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "5"
                            } ]
                          }, {
                            "name" : "Solutions",
                            "modules" : [ {
                              "displayLabel" : "Solutions-Sections",
                              "apiName" : "kbSections",
                              "source" : "api",
                              "type" : "entity",
                              "order" : "20"
                            }, {
                              "displayLabel" : "Solutions-RootCategories",
                              "apiName" : "kbRootCategories",
                              "source" : "api",
                              "type" : "entity",
                              "order" : "19"
                            }, {
                              "displayLabel" : "Solutions-Articles",
                              "apiName" : "articles",
                              "source" : "api",
                              "type" : "entity",
                              "order" : "21"
                            } ]
                          } ],
                          "description" : "",
                          "modules" : [ {
                            "displayLabel" : "KBRootCategories",
                            "apiName" : "kbRootCategories",
                            "source" : "api",
                            "type" : "entity",
                            "order" : "19"
                          }, {
                            "displayLabel" : "TicketComments",
                            "apiName" : "ticketComments",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "8"
                          }, {
                            "displayLabel" : "KBSections",
                            "apiName" : "kbSections",
                            "source" : "api",
                            "type" : "entity",
                            "order" : "20"
                          }, {
                            "displayLabel" : "Tickets",
                            "apiName" : "tickets",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "6"
                          }, {
                            "displayLabel" : "Articles",
                            "apiName" : "articles",
                            "source" : "api",
                            "type" : "entity",
                            "order" : "21"
                          }, {
                            "displayLabel" : "Accounts",
                            "apiName" : "accounts",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "4"
                          }, {
                            "displayLabel" : "Contacts",
                            "apiName" : "contacts",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "5"
                          }, {
                            "displayLabel" : "EndUsers",
                            "apiName" : "endUsers",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "2"
                          }, {
                            "displayLabel" : "Threads",
                            "apiName" : "threads",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "7"
                          } ],
                          "authentications" : [ {
                            "auth" : "none",
                            "source" : "backup"
                          }, {
                            "auth" : "token",
                            "source" : "api"
                          } ]
                        } ],
                        "name" : "Freshdesk"
                      }, {
                        "templates" : [ {
                          "name" : "json",
                          "fileInputs" : [ {
                            "name" : "Tickets",
                            "modules" : [ {
                              "displayLabel" : "Threads",
                              "apiName" : "threads",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "7"
                            }, {
                              "displayLabel" : "Cases-Comments",
                              "apiName" : "ticketComments",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "8"
                            }, {
                              "displayLabel" : "Attachments",
                              "apiName" : "attachments",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "22"
                            }, {
                              "displayLabel" : "Cases",
                              "apiName" : "tickets",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "6"
                            } ]
                          }, {
                            "name" : "Users",
                            "modules" : [ {
                              "displayLabel" : "Agents",
                              "apiName" : "agents",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "1"
                            }, {
                              "displayLabel" : "Contacts",
                              "apiName" : "contacts",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "5"
                            } ]
                          }, {
                            "name" : "Organizations",
                            "modules" : [ {
                              "displayLabel" : "Accounts",
                              "apiName" : "accounts",
                              "source" : "backup",
                              "type" : "entity",
                              "order" : "4"
                            } ]
                          } ],
                          "description" : "",
                          "modules" : [ {
                            "displayLabel" : "Accounts",
                            "apiName" : "accounts",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "4"
                          }, {
                            "displayLabel" : "KbSections",
                            "apiName" : "kbSections",
                            "source" : "api",
                            "type" : "entity",
                            "order" : "20"
                          }, {
                            "displayLabel" : "Articles",
                            "apiName" : "articles",
                            "source" : "api",
                            "type" : "entity",
                            "order" : "21"
                          }, {
                            "displayLabel" : "EndUsers",
                            "apiName" : "endUsers",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "2"
                          }, {
                            "displayLabel" : "Contacts",
                            "apiName" : "contacts",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "5"
                          }, {
                            "displayLabel" : "Tickets",
                            "apiName" : "tickets",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "6"
                          }, {
                            "displayLabel" : "KBRootCategories",
                            "apiName" : "kbRootCategories",
                            "source" : "api",
                            "type" : "entity",
                            "order" : "19"
                          }, {
                            "displayLabel" : "TicketComments",
                            "apiName" : "ticketComments",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "8"
                          }, {
                            "displayLabel" : "Threads",
                            "apiName" : "threads",
                            "source" : "backup",
                            "type" : "entity",
                            "order" : "7"
                          } ],
                          "authentications" : [ {
                            "auth" : "none",
                            "source" : "backup"
                          }, {
                            "auth" : "token",
                            "source" : "api"
                          } ]
                        } ],
                        "name" : "Zendesk"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ],
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "reports",
          "apihash" : "b31831939d5ddfeafdd5b93465b92d04",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ZwitchService.getZwitchServices"
        }
      }
    },
    "/api/v1/zwitch/{zwitchId}" : {
      "get" : {
        "tags" : [ "Zwitch" ],
        "summary" : "Get zwitch",
        "description" : "This API fetches a single zwitch info from your help desk portal.",
        "operationId" : "getZwitch",
        "parameters" : [ {
          "name" : "zwitchId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "zwitchResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "comment", "createdBy", "createdTime", "dataUrl", "id", "modifiedTime", "modules", "serviceName", "serviceUrl", "sourceConnection", "status", "templateName" ],
                  "properties" : {
                    "dataUrl" : {
                      "maxLength" : 3000,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The migration file link shared by the source service",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "templateName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "serviceUrl" : {
                      "maxLength" : 3000,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The source service url",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "sourceConnection" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "authDetails", "authType" ],
                      "properties" : {
                        "authType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "NONE", "BASIC", "BEARER", "CUSTOM" ]
                        },
                        "authDetails" : {
                          "maxProperties" : 5,
                          "minProperties" : 5,
                          "required" : [ "authToken", "clientId", "clientSecret", "password", "userName" ],
                          "properties" : {
                            "password" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "clientId" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "authToken" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "clientSecret" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "userName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : { }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "comment" : {
                      "maxLength" : 65000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Additional comment special case requirements",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "serviceName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modules" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "apiName", "order" ],
                        "properties" : {
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "order" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "waiting_for_authentication", "submitted", "setup_in_progress", "import_in_progress", "completed", "file_validation_failed", "cancel" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Status of zwitch request, Allowed values @waiting_for_authentication@, @submitted@, @in_progress@, @completed@ , @file_validation_failed@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : true,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "dataUrl" : "https://download.zoho.com/downlodUrl",
                      "modifiedTime" : 1668165473000,
                      "templateName" : "xml",
                      "createdBy" : "4000000000349",
                      "serviceUrl" : "https://desk.zoho.com/service",
                      "createdTime" : 1668165473000,
                      "fileInfo" : [ {
                        "sizeInBytes" : "23782344",
                        "name" : "FreshdeskXmlBackup.zip",
                        "downloadUrl" : "https://download.zoho.com/downlodUrl",
                        "createdTime" : 1668165473000,
                        "id" : "189200005676645"
                      }, {
                        "sizeInBytes" : "78234344",
                        "name" : "FreshdeskXmlBackup2.zip",
                        "downloadUrl" : "https://download.zoho.com/downlodUrl",
                        "createdTime" : 1668165473000,
                        "id" : "1892000056734545"
                      } ],
                      "comment" : "",
                      "id" : "4000000262013",
                      "serviceName" : "Freshdesk",
                      "modules" : [ {
                        "displayLabel" : "Accounts",
                        "apiName" : "accounts",
                        "order" : "2"
                      } ],
                      "status" : "submitted"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "4cca2d9b5101f82a42b296b7b9f80797",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ZwitchService.getZwitchRequest"
        }
      },
      "patch" : {
        "tags" : [ "Zwitch" ],
        "summary" : "Update zwitch",
        "description" : "This API update zwitch request in help desk portal.",
        "operationId" : "updateZwitch",
        "parameters" : [ {
          "name" : "zwitchId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "dataUrl" : {
                    "maxLength" : 3000,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                  },
                  "serviceUrl" : {
                    "maxLength" : 3000,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                  },
                  "files" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "fileId", "fileName" ],
                      "properties" : {
                        "fileName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "fileId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "additionalProperties" : { },
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "sourceConnection" : {
                    "maxProperties" : 2,
                    "minProperties" : 2,
                    "required" : [ "authDetails", "authType" ],
                    "properties" : {
                      "authType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "NONE", "BASIC", "BEARER", "CUSTOM" ]
                      },
                      "authDetails" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "authToken", "clientId", "clientSecret", "password", "userName" ],
                        "properties" : {
                          "password" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "clientId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "authToken" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "clientSecret" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "userName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "comment" : {
                    "maxLength" : 65000,
                    "minLength" : 0
                  },
                  "modules" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 1,
                      "minProperties" : 1,
                      "required" : [ "apiName" ],
                      "properties" : {
                        "apiName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "dataUrl" : "https://download.zoho.com/downlodUrl",
                    "files" : [ {
                      "fileName" : "FreshdeskXmlBackup.zip",
                      "fileId" : "189200005676645"
                    }, {
                      "fileName" : "FreshdeskXmlBackup2.zip",
                      "fileId" : "1892000056734545"
                    } ],
                    "sourceConnection" : {
                      "authType" : "NONE",
                      "authDetails" : { }
                    },
                    "comment" : "Residual migration data is uploaded now",
                    "modules" : [ {
                      "apiName" : "accounts"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "zwitchResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "comment", "createdBy", "createdTime", "dataUrl", "id", "modifiedTime", "modules", "serviceName", "serviceUrl", "sourceConnection", "status", "templateName" ],
                  "properties" : {
                    "dataUrl" : {
                      "maxLength" : 3000,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The migration file link shared by the source service",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "templateName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "serviceUrl" : {
                      "maxLength" : 3000,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The source service url",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "sourceConnection" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "authDetails", "authType" ],
                      "properties" : {
                        "authType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "NONE", "BASIC", "BEARER", "CUSTOM" ]
                        },
                        "authDetails" : {
                          "maxProperties" : 5,
                          "minProperties" : 5,
                          "required" : [ "authToken", "clientId", "clientSecret", "password", "userName" ],
                          "properties" : {
                            "password" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "clientId" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "authToken" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "clientSecret" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "userName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    },
                    "comment" : {
                      "maxLength" : 65000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Additional comment special case requirements",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "serviceName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modules" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "apiName", "order" ],
                        "properties" : {
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "order" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "waiting_for_authentication", "submitted", "setup_in_progress", "import_in_progress", "completed", "file_validation_failed", "cancel" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Status of zwitch request, Allowed values @waiting_for_authentication@, @submitted@, @in_progress@, @completed@ , @file_validation_failed@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : true,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "dataUrl" : "https://download.zoho.com/downlodUrl",
                      "modifiedTime" : 1668165473000,
                      "templateName" : "xml",
                      "createdBy" : "4000000000349",
                      "serviceUrl" : "https://desk.zoho.com/service",
                      "createdTime" : 1668165473000,
                      "fileInfo" : [ {
                        "sizeInBytes" : "23782344",
                        "name" : "FreshdeskXmlBackup.zip",
                        "downloadUrl" : "https://download.zoho.com/downlodUrl",
                        "createdTime" : 1668165473000,
                        "id" : "189200005676645"
                      }, {
                        "sizeInBytes" : "78234344",
                        "name" : "FreshdeskXmlBackup2.zip",
                        "downloadUrl" : "https://download.zoho.com/downlodUrl",
                        "createdTime" : 1668165473000,
                        "id" : "1892000056734545"
                      } ],
                      "comment" : "",
                      "id" : "4000000262013",
                      "serviceName" : "Freshdesk",
                      "modules" : [ {
                        "displayLabel" : "Accounts",
                        "apiName" : "accounts",
                        "order" : "2"
                      } ],
                      "status" : "submitted"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "Zwitch_DOSRateLimiter"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "218f4ab9b1f82d1f0a28d25720378cb0",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ZwitchService.updateZwitch"
        }
      }
    },
    "/api/v1/zwitch" : {
      "get" : {
        "tags" : [ "Zwitch" ],
        "summary" : "Get zwitch list",
        "description" : "This API fetches a list zwitch info from your help desk portal.",
        "operationId" : "listOfZwitch",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of Zwitch requests to be fetched.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The number of Zwitch requests to be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The starting position of the index.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The starting position of the index.",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "zwitchResponses template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "comment", "createdBy", "createdTime", "dataUrl", "id", "modifiedTime", "modules", "serviceName", "serviceUrl", "sourceConnection", "status", "templateName" ],
                        "properties" : {
                          "dataUrl" : {
                            "maxLength" : 3000,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                          },
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "templateName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "createdBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "serviceUrl" : {
                            "maxLength" : 3000,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "sourceConnection" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "authDetails", "authType" ],
                            "properties" : {
                              "authType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "NONE", "BASIC", "BEARER", "CUSTOM" ]
                              },
                              "authDetails" : {
                                "maxProperties" : 5,
                                "minProperties" : 5,
                                "required" : [ "authToken", "clientId", "clientSecret", "password", "userName" ],
                                "properties" : {
                                  "password" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "clientId" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "authToken" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "clientSecret" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "userName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          },
                          "comment" : {
                            "maxLength" : 65000,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "serviceName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "modules" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "apiName", "order" ],
                              "properties" : {
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "order" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "waiting_for_authentication", "submitted", "setup_in_progress", "import_in_progress", "completed", "file_validation_failed", "cancel" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Filter by status. The allowed values are Waiting for Authentication, Submitted in Queue, Import in Progress, Completed",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "dataUrl" : "https://download.zoho.com/downlodUrl",
                        "modifiedTime" : 1668165473000,
                        "templateName" : "xml",
                        "createdBy" : "1892000000042343",
                        "serviceUrl" : "https://desk.zoho.com/service",
                        "createdTime" : 1668165473000,
                        "fileInfo" : [ {
                          "sizeInBytes" : "784",
                          "name" : "FreshdeskData.zip",
                          "downloadUrl" : "https://download.zoho.com/downlodUrl",
                          "createdTime" : 1668165473000,
                          "id" : "1892000000042324"
                        } ],
                        "comment" : "",
                        "id" : "1892000000042032",
                        "serviceName" : "Freshdesk",
                        "modules" : [ {
                          "displayLabel" : "Accounts",
                          "apiName" : "accounts",
                          "order" : "2"
                        }, {
                          "displayLabel" : "Contacts",
                          "apiName" : "contacts",
                          "order" : "3"
                        } ],
                        "status" : "submitted"
                      }, {
                        "dataUrl" : "https://download.zoho.com/downlodUrl",
                        "modifiedTime" : 1667301473000,
                        "templateName" : "json",
                        "createdBy" : "1892000000042343",
                        "serviceUrl" : "https://desk.zoho.com/service",
                        "createdTime" : 1667301473000,
                        "fileInfo" : [ {
                          "sizeInBytes" : "8783424",
                          "name" : "FreshdeskData.zip",
                          "downloadUrl" : "https://download.zoho.com/downlodUrl",
                          "createdTime" : 1667301473000,
                          "id" : "1892000000042328"
                        }, {
                          "sizeInBytes" : "87383",
                          "name" : "FreshdeskResidualData.zip",
                          "downloadUrl" : "https://download.zoho.com/downlodUrl",
                          "createdTime" : 1669893473000,
                          "id" : "1892000000042366"
                        } ],
                        "comment" : "",
                        "id" : "1892000000042035",
                        "serviceName" : "Zendesk",
                        "modules" : [ {
                          "displayLabel" : "Accounts",
                          "apiName" : "accounts",
                          "order" : "2"
                        }, {
                          "displayLabel" : "Contacts",
                          "apiName" : "contacts",
                          "order" : "3"
                        } ],
                        "status" : "completed"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "40a46edc6e0df74e2f7e133539de51e4",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ZwitchService.getZwitchRequests"
        }
      },
      "post" : {
        "tags" : [ "Zwitch" ],
        "summary" : "Post zwitch",
        "description" : "This API add a zwitch import entry in your help desk portal.",
        "operationId" : "addZwitch",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "modules", "serviceName", "templateName" ],
                "properties" : {
                  "dataUrl" : {
                    "maxLength" : 3000,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                  },
                  "templateName" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "serviceUrl" : {
                    "maxLength" : 3000,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                  },
                  "files" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "fileId", "fileName" ],
                      "properties" : {
                        "fileName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "fileId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "additionalProperties" : { },
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "sourceConnection" : {
                    "maxProperties" : 2,
                    "minProperties" : 2,
                    "required" : [ "authDetails", "authType" ],
                    "properties" : {
                      "authType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "NONE", "BASIC", "BEARER", "CUSTOM" ]
                      },
                      "authDetails" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "authToken", "clientId", "clientSecret", "password", "userName" ],
                        "properties" : {
                          "password" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "clientId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "authToken" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "clientSecret" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "userName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "comment" : {
                    "maxLength" : 65000,
                    "minLength" : 0
                  },
                  "serviceName" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "modules" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 1,
                      "minProperties" : 1,
                      "required" : [ "apiName" ],
                      "properties" : {
                        "apiName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "templateName" : "xml",
                    "serviceUrl" : "https://desk.zoho.com/service",
                    "files" : [ {
                      "fileName" : "FreshdeskXmlBackup.zip",
                      "fileId" : "189200005676645"
                    }, {
                      "fileName" : "FreshdeskXmlBackup2.zip",
                      "fileId" : "1892000056734545"
                    } ],
                    "sourceConnection" : {
                      "authType" : "NONE",
                      "authDetails" : { }
                    },
                    "comment" : "All data imported to Freshdesk department",
                    "serviceName" : "Freshdesk",
                    "modules" : [ {
                      "apiName" : "accounts"
                    }, {
                      "apiName" : "contacts"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "zwitchResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "comment", "createdBy", "createdTime", "dataUrl", "id", "modifiedTime", "modules", "serviceName", "serviceUrl", "sourceConnection", "status", "templateName" ],
                  "properties" : {
                    "dataUrl" : {
                      "maxLength" : 3000,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The migration file link shared by the source service",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "templateName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "serviceUrl" : {
                      "maxLength" : 3000,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The source service url",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "sourceConnection" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "authDetails", "authType" ],
                      "properties" : {
                        "authType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "NONE", "BASIC", "BEARER", "CUSTOM" ]
                        },
                        "authDetails" : {
                          "maxProperties" : 5,
                          "minProperties" : 5,
                          "required" : [ "authToken", "clientId", "clientSecret", "password", "userName" ],
                          "properties" : {
                            "password" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "clientId" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "authToken" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "clientSecret" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "userName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    },
                    "comment" : {
                      "maxLength" : 65000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Additional comment special case requirements",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "serviceName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modules" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "apiName", "order" ],
                        "properties" : {
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "order" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "waiting_for_authentication", "submitted", "setup_in_progress", "import_in_progress", "completed", "file_validation_failed", "cancel" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Status of zwitch request, Allowed values @waiting_for_authentication@, @submitted@, @in_progress@, @completed@ , @file_validation_failed@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : true,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "dataUrl" : "https://download.zoho.com/downlodUrl",
                      "modifiedTime" : 1668165473000,
                      "templateName" : "xml",
                      "createdBy" : "4000000000349",
                      "serviceUrl" : "https://desk.zoho.com/service",
                      "createdTime" : 1668165473000,
                      "fileInfo" : [ {
                        "sizeInBytes" : "23782344",
                        "name" : "FreshdeskXmlBackup.zip",
                        "downloadUrl" : "https://download.zoho.com/downlodUrl",
                        "createdTime" : 1668165473000,
                        "id" : "189200005676645"
                      }, {
                        "sizeInBytes" : "78234344",
                        "name" : "FreshdeskXmlBackup2.zip",
                        "downloadUrl" : "https://download.zoho.com/downlodUrl",
                        "createdTime" : 1668165473000,
                        "id" : "1892000056734545"
                      } ],
                      "comment" : "",
                      "id" : "4000000262013",
                      "serviceName" : "Freshdesk",
                      "modules" : [ {
                        "displayLabel" : "Accounts",
                        "apiName" : "accounts",
                        "order" : "2"
                      } ],
                      "status" : "submitted"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "Zwitch_DOSRateLimiter"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "e73c55cea0bb37ab41a0e452390fa709",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ZwitchService.addZwitchEntry"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "zwitchService" : {
        "required" : [ "name", "templates" ],
        "properties" : {
          "templates" : {
            "uniqueItems" : false,
            "items" : {
              "maxProperties" : 5,
              "minProperties" : 5,
              "required" : [ "authentications", "description", "fileInputs", "modules", "name" ],
              "properties" : {
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "fileInputs" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxProperties" : 2,
                    "minProperties" : 2,
                    "required" : [ "modules", "name" ],
                    "properties" : {
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "modules" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 5,
                          "minProperties" : 5,
                          "required" : [ "apiName", "displayLabel", "order", "source", "type" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "source" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "order" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "description" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "modules" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "apiName", "displayLabel", "order", "source", "type" ],
                    "properties" : {
                      "displayLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "apiName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "source" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "order" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "authentications" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxProperties" : 2,
                    "minProperties" : 2,
                    "required" : [ "auth", "source" ],
                    "properties" : {
                      "auth" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "source" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
[...]
